
@{
    ViewBag.Title = "Medix College Policies";
}

<div class="container">
    <h1 class="contentPageH1">ALL POLICIES</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">All Policies</li>
    </ol>

    <br />

    <div class="well">@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</div>

    <div class="well">@Html.ActionLink("Accessibility Policy", "AccessibilityPolicy", "Home")</div>

    <div class="well">@Html.ActionLink("Sexual Violence Policy", "SexualViolencePolicy", "Home")</div>
    


    


    <br />
</div>