
@{
    ViewBag.Title = "Sexual Violence Policy";
}

<div class="container">
    <h1 class="contentPageH1">SEXUAL VIOLENCE POLICY</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">Sexual Violence Policy</li>
    </ol>

    <br />

    <table width="100%">
        <tr>
            <td>Policy Number</td>
            <td colspan="2">900</td>
        </tr>
        <tr>
            <td>Policy Name</td>
            <td>Sexual Violence Policy</td>
            <td>By: Peter Dykstra, VP</td>
        </tr>
        <tr>
            <td>Date Approved</td>
            <td colspan="2">November 2016</td>
        </tr>
        <tr>
            <td>Date Effective</td>
            <td colspan="2">January, 2017</td>
        </tr>
        <tr>
            <td>Developed</td>
            <td colspan="2">Carol Bruni</td>
        </tr>
        <tr>
            <td>Reviewed</td>
            <td colspan="2">Cheryl-Russel Julian</td>
        </tr>
        <tr>
            <td>Reference</td>
            <td colspan="2">Ministry of Advanced Education and Skills Development Provincial</td>
        </tr>

    </table>
    <br/><br/><br/>
    <p class=”contentp”>
        Sexual Violence Policy
        <br />(a)  Career College Group is committed to providing its students with an educational environment free from sexual violence and treating its students who report incidents of sexual violence with dignity and respect.
        <br />(b)  Career College Group has adopted this Sexual Violence Policy, which defines sexual violence and  outlines  its  training,  reporting,  investigative  and  disciplinary  responses  to complaints  of  sexual  violence  made  by  its  students  that  have  occurred  on  its campus, or at one of its events and involve its students.
        <br />(c)  The  person  accused  of  engaging  in  sexual  violence  will  be  referred  to  as  the “Respondent” and the person making the allegation as the “Complainant”.
        <br /><br />2.  Definition of Sexual Violence
        <br />Sexual  violence  means  any  sexual  act  or  act  targeting  a  person’s  sexuality, gender identity or gender expression, whether the act is physical or psychological in  nature,  that  is  committed,  threatened  or  attempted  against  a  person  without the person’s consent, and includes sexual assault, sexual harassment, stalking, indecent exposure, voyeurism and sexual exploitation.
        <br /><br />3.  Training, Reporting and Responding to Sexual Violence
        <br />(a)  Career College Group shall include a copy of the Sexual Violence Policy in every contract made between it and its students, and provide a copy of the Sexual Violence Policy to career college management (corporate directors, controlling shareholders, owners,  partners,  other  persons  who  manage  or  direct  the  career  college’s affairs, and their agents), instructors, staff, other employees and contractors and train  them  about  the  policy  and  its  processes  of  reporting,  investigating  and responding to complaints of sexual violence involving its students. *Any company participating  in  offering  student  internships  on  their  premises  must  provide  an undertaking  in  writing  that  it  is  in  compliance  with  all  applicable  legislation, including  the  Ontario  Human  Rights  Code  and  the  Occupational  Health  and Safety  Act  and  will  provide  students  access  to  those  policies  should  they encounter issues relating to sexual violence in the workplace.
        <br />(b)  The Sexual Violence Policy shall be published on its website: www.careercollegegroup.com
        <br />(c) Career college management, instructors, staff, other employees and contractors of  Career College Group  will  report  incidents  of  or  complaints  of  sexual  violence  to  the VP Operations  upon becoming aware of them.
        <br />(d)  Students  who  have  been  affected  by  sexual  violence  or  who  need  information about support services should contact the Campus Director or VP Operations.
        <br />(e)  Subject  to  Section  4  below,  to  the  extent  it  is  possible,  Career College Group  will  attempt  to keep all personal information of persons involved in the investigation confidential except in those circumstances  where it  believes  an individual is at imminent risk of self-harm, or of harming another, or there are reasonable grounds to believe that others on its campus or the broader community are at risk. This will be done by:
        <br />(i)  ensuring that all complaints/reports and information gathered as a result of the complaint/reports will be only available to those who need to know for  purposes  of  investigation,  implementing   safety  measures  and  other circumstances that arise from any given case; and
        <br />(ii)  ensuring that the documentation is kept in a separate file from that of the Complainant/student or the Respondent.
        <br />(f)  Career College Group  recognizes  the  right  of  the  Complainant  not  to  report  an  incident  of  or make a complaint about sexual violence or not request an investigation and not to participate in any investigation that may occur.
        <br />(g)  Notwithstanding (f), in certain circumstances, Career College Group may be required by law or its internal policies to initiate an internal investigation and/or inform police without the complainant’s consent if it believes the safety of members of its campus or the broader community is at risk.
        <br />(h)  In  all  cases,  including  (f)  above,  Career College Group  will  appropriately  accommodate  the needs  of  its  students  who  are  affected  by  sexual  violence.  Students seeking accommodation should contact the VP Operations.
        <br /> In this regard, Career College Group will assist students who have experienced sexual violence in  obtaining  counselling  and  medical  care,  and  provide  them  with  information about sexual violence supports and services available in the community as set out  in  Appendix  1  attached  hereto.  Students are not required to file a formal complaint in order to access supports and services.
        <br /><br />4.  Investigating Reports of Sexual Violence
        <br />(a)  Under  this  Sexual  Violence  Policy,  any  student  of  Career College Group  college  may  file  a report  of  an  incident  or  a  complaint  to  the VP Operations  in  writing.  The  other officials,  offices  or  departments  that  will  be  involved  in  the  investigation  are Director of Education/ Campus Director.
        <br />(b)  Upon receipt of a report of an incident or a complaint of alleged sexual violence being made, the VP Operations will respond promptly and:
        <br />(i)  determine  whether  an  investigation  should  proceed  and  if  the Complainant wishes to participate in an investigation;
        <br />(ii)  determine  who  should  conduct  the  investigation  having  regard  to  the seriousness of the allegation and the parties involved;
        <br />(iii)  determine  whether  the  incident  should  be  referred  immediately  to  the police; In  such  cases  or  where  civil  proceedings  are  commenced  in  respect  of allegations of sexual violence, Career College Group may conduct its own independent investigation and make its own determination in accordance with its own policies and procedures; and
        <br />(iv)  determine  what  interim  measures  ought  to  be  put  in  place  pending  the investigation  process  such  as  removal  of  the  Respondent  or  seeking alternate methods of providing necessary course studies.
        <br />(c)  Once an investigation is initiated, the following will occur:
        <br />(i)  The Complainant and the Respondent will be advised that they may ask another person to be present throughout the investigation;
        <br />(ii)  interviewing the Complainant to ensure a complete understanding of the allegation and gathering additional information that may not have been included  in  the  written  complaint  such  as  the  date  and  time  of  the incident, the persons involved, the names of any person who witnessed the incident and a complete description of what occurred;
        <br />(iii)  informing  and  interviewing  the  Respondent  of  the  complaint,  providing details  of  the  allegations  and  giving  the  Respondent  an  opportunity  to respond  to  those  allegations  and  to  provide  any  witnesses  the Respondent feels are essential to the investigation;
        <br />(iv)  Interviewing any person involved or who has, or may have, knowledge of the incident and any identified witnesses;
        <br />(v)  Providing reasonable updates to the Complainant and  the  Respondent about the status of the investigation; and
        <br />(vi)  Following the investigation, the VP Operations will:
        <br />(A)  Review all of the evidence collected during the investigation;
        <br />(B)  Determine whether sexual violence occurred; and if so
        <br />(C)  Determine what disciplinary action, if any, should be taken as set out in Section 5 below.
        <br /><br />5.  Disciplinary Measures
        <br />(a)  If it is determined by Career College Group that the Respondent did engage in sexual violence, immediate disciplinary or corrective action will be taken. This may include:
        <br />(i)  disciplinary  action  up  to  and  including  termination  of  employment  of instructors or staff; or
        <br />(ii)  Expulsion of a student; and /or
        <br />(iii)  The placement of certain restrictions on the Respondent’s ability to access certain premises or facilities; and/or
        <br />(iv)  Any other actions that may be appropriate in the circumstances.
        <br /><br />6.  Appeal
        <br />(a)  Should the Complainant or the Respondent not agree with the decision resulting from the investigation, he or she may appeal the decision to the President within 10 days by submitting  a  letter  addressed  to  the President advising of the person’s intent to appeal the decision.
        <br /><br />7.  Making False Statements
        <br />(a)  It is a violation of this  Sexual Violence  Policy for anyone to knowingly  make a false  complaint  of  sexual  violence  or  to  provide  false  information  about  a complaint.
        <br />(b)  Individuals who violate this Sexual Violence Policy are subject to disciplinary and / or corrective action up to and including termination of employment of instructors or staff or expulsion of a student.
        <br /><br />8.  Reprisal
        <br />(a)  It is a violation of this  Sexual Violence  Policy to retaliate or threaten to retaliate against a complainant who has brought forward a complaint of sexual violence, provided  information  related  to  a  complaint,  or  otherwise  been  involved  in  the complaint investigation process.
        <br />(b)  Individuals who violate the Sexual Violence Policy are subject to disciplinary and /or corrective action, up to and including termination of employment of instructors or staff or expulsion of a student.
        <br /><br />9.  Review
        <br />(a)  Career College Group  shall  ensure  that  student  input  is  considered  in  the  development  of  its Sexual Violence Policy and every time it is reviewed or amended.
        <br />(b)  Career College Group shall review its Sexual Violence Policy 3 years after it is first implemented and amend it where appropriate. This date is December 1, 2019.
        <br /><br />10.  Collection of Student Data
        <br />(a)  Career College Group  shall  collect  and  be  prepared  to  provide  upon  request  by  the Superintendent of Private Career Colleges such data and information as required according  to  Subsections  32.  3  (8),  (9)  and  (10)  of  Schedule  5  of  the  Private Career Colleges Act, 2005 as amended.
        <br />The following represents a list of Provincial Rape Crisis Centres:
        <br />Canadian Association of Sexual Assault Centres Ontario
        <br />English - Assaulted Women’s Helpline
        <br />Toll Free: 1-866-863-0511
        <br />#SAFE (#7233) on Bell, Rogers, Fido or Telus mobile
        <br />TTY: 416-364-8762
        <br />www.awhl.org
        <br /><br />
        Français - Fem’aide
        <br />Telephone Toll-Free: 1-877-336-2433
        <br />ATS: 1 866 860-7082
        <br />www.femaide.ca
        <br />Sexual Assault/Domestic Violence Treatment Centres
        <br /><br />
        Sexual Assault/Domestic Violence Treatment Centres
        <br /><br />
        35 hospital-based centres that provide 24/7 emergency care to women - http://sadvtreatmentcentres.ca/
        <br/><br/>
        Sexual  Assault /Domestic Violence Treatment Centres -   http://www.satcontario.com/

    </p>
    <br />
    <p>Local Centres</p>

    <table width="100%">
        <tr>
            <td width="50%">Brantford<br />
Sexual Assault Centre of Brantford<br />
Crisis: 519-751-3471<br />
Office: 519-751-1164<br />
sexualassaultcentre@sacbrant.ca<br />
http://sacbrant.ca/ <br /><br />
</td>
            <td width="50%">
                Durham Region<br />
                Durham Rape Crisis Centre<br />
                Crisis: 905-668-9200<br />
                Office: 905-444.9672<br />
                info@drcc.ca<br />
                www.drcc.ca<br /><br />
            </td>
        </tr>
        <tr>
            <td>Guelph<br />
Guelph-Wellington Women in Crisis<br />
Crisis: 519-836-5710<br />
1-800-265-7233<br />
Office: 519-823-5806<br />
www.gwwomenincrisis.org<br /><br />
</td>
            <td>Hamilton<br />
Sexual Assault Centre (Hamilton and Area)<br />
                Crisis: (905) 525-4162<br />
                Office (905) 525-4573<br />
                TTY: 905-525-4592<br />
                www.sacha.ca<br /><br />

</td>
        </tr>
        <tr>
            <td>London Abused Women’s Centre<br />
Office: 519-432-2204<br />
E-Mail: info@lawc.on.ca<br />
http://lawc.on.ca/ <br /><br />
</td>
            <td>Peel Region<br />
Hope 24/7<br />
Crisis: 1-800-810-0180<br />
Office: (905) 792-0821<br />
http://hope247.ca/ <br /><br />
</td>
        </tr>
        <tr>
            <td>Oakville<br />
Sexual Assault & Violence Intervention Services of Halton<br />
Crisis: 905-875-1555 or 1-877-268-8416<br />
Office: 905-825-3622<br />
www.savisofhalton.org<br /><br />
</td>
            <td>Orangeville -Family Transition Place<br />
Crisis: 1-800-265-9178<br />
Office: 519-942-4122<br /><br />
</td>
        </tr>


        <tr>
            <td>Kitchener-Waterloo<br />
Sexual Assault Support Centre of Waterloo Region<br />
Crisis: 519.741.8633<br />
Office: 519.571.0121<br />
info@sascwr.org<br />
www.kwsasc.org<br /><br />
</td>
            <td>London<br />
Sexual Assault Centre London<br />
Crisis: 519-438-2272<br />
Office 519-439-0844<br />
TTY: 519-439-0690<br />
sacl@sacl.ca<br />
www.sacl.ca<br /><br />
</td>
        </tr>

        <tr>
            <td>www.familytransitionplace.ca Sarnia-Lambton<br />
Sexual Assault Survivors Centre Sarnia-Lambton<br />
Crisis: 519 337-3320 or 1-888-231-0536<br />
Office: (519) 337-3154<br />
www.sexualassaultsarnia.on.ca<br /><br />
</td>
            <td>Toronto<br />
Oasis Centre des Femmes<br />
Téléphone: 416-591-6565<br />
Courriel : services@oasisfemmes.org<br />
http://oasisfemmes.org/ <br /><br />
</td>
        </tr>

        <tr>
            <td>Toronto Rape Crisis Centre: Multicultural Women Against Rape<br />
Crisis: 416-597-8808<br />
Office: 416-597-1171<br />
info@trccmwar.ca<br />
crisis@trccmwar.ca<br />
www.trccmwar.ca<br />
www.daso.ca<br /><br />
</td>
            <td></td>
        </tr>
    </table>
</div>