
@{
    ViewBag.Title = "Social Media";
}

<h2>Social Media</h2>

<div class="panel panel-default">

    <div class="panel-body">
        <h1 class="contentH1">Follow Us on Social Media</h1><hr class="hrp" />
        <p class="contentp">
            Get the latest news and updates from Medix College and see what campus life is like
        </p>
        <br />
        <a href="https://www.facebook.com/MedixCollege" target="_blank"><img src="~/Content/images/FB-Icon.jpg" height="100" width="100" /></a>&nbsp;
        <a href="https://twitter.com/medix_college" target="_blank"><img src="~/Content/images/TW-Icon.jpg" height="100" width="100" /></a>&nbsp;
        <a href="https://www.instagram.com/medix_college/" target="_blank"><img src="~/Content/images/IG-Icon.jpg" height="100" width="100" /></a>&nbsp;

    </div>
</div>

