@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thank You";
}

@if (ViewBag.Success)
{

    <img src="~/Content/images/thanksimagemedix-friend.jpg" alt="healthcare worker with the text thank you for submitting your information" width="100%" class="img-responsive" />
    <div class="panel panel-default">

        <div class="panel-body">
            <h1 class="contentH1">Follow Us on Social Media</h1><hr class="hrp" />
            <p class="contentp">
                Get the latest news and updates from Medix College and see what campus life is like
            </p>
            <br />
            <a href="https://www.facebook.com/MedixCollege" target="_blank"><img src="~/Content/images/FB-Icon.jpg" height="100" width="100" /></a>&nbsp;
            <a href="https://twitter.com/medix_college" target="_blank"><img src="~/Content/images/TW-Icon.jpg" height="100" width="100" /></a>&nbsp;
            <a href="https://www.instagram.com/medix_college/" target="_blank"><img src="~/Content/images/IG-Icon.jpg" height="100" width="100" /></a>&nbsp;

        </div>
    </div>
}
else
{
    <p>@ViewBag.ErrorMessage</p>
}

<!-- Google Code for Lead Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1000579852;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "j8boCJf4jmcQjMaO3QM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//
www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1000579852/?label=j8boCJf4jmcQjMaO3QM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>

