@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thank You";
}

@if (ViewBag.Success)
{

    <img src="~/Content/images/thanksimagemedix1.jpg" alt="healthcare worker with the text thank you for submitting your information" width="100%" class="img-responsive" />

}
else
{
    <p>@ViewBag.ErrorMessage</p>
}

<!-- Google Code for Lead Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1000579852;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "j8boCJf4jmcQjMaO3QM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//
www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1000579852/?label=j8boCJf4jmcQjMaO3QM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>

