
@{
    Layout = "~/Views/MedixOnline/_MedixOnlineLayout.cshtml";
}

@{
    ViewBag.Title = "Dental Terminology Training Program - Medix Online";
    ViewBag.PageDescription = "Learn more about the Dental Terminology Training Program at Medix Online.";
}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">DENTAL TERMINOLOGY</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("About Medix Online", "Index", "MedixOnline")</li>
        <li class="active contentp">Dental Terminology</li>
    </ol>
</div>

    <div class="col-sm-8 mid-padding">
                <h2 class="contentH2">
                    Course Overview
                </h2>
                <p class="contentp">
                    This course is intended specifically for students who will be required to have a working knowledge of dental vocabulary. The modular approach ensures that students learn and comprehend the language of dentistry on a much deeper level and build a solid foundation for clinical competence. The innovative and interactive approach goes beyond simple memorization and encourages students to read, speak, and use terms in context. Twenty online modules cover the gamut of modern dental care – from an introduction to basic word structure to the language of basic sciences, infection control, dental instruments and equipment, radiographic imaging, dental materials, and an overview of general and specialty dentistry.  
                 </p>
 

 
                <h2 class="contentH2">Duration</h2>
              
                <p class="contentp">
                    50 hours 

                </p>



                <h2 class="contentH2">
                    Cost:
                </h2>
                <p class="contentp">
                     $450 (Introductory price of $399)  
                </p>






    </div>


    <div class="col-sm-4 pull-right">
        <div class="panel panel-default">

            <div class="row formWrapper overquestionsForm">

                <form id="medixOnlineQuestionsForm" name="medixOnlineQuestionsForm" data-parsley-validate="" class="questionsForm" method="post" action="/MedixOnline/ContactMedixOnlineForm">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <h1 class="contentH1 text-center">
                        <span class="glyphicon glyphicon-comment"></span>&nbsp; CONTACT MEDIX ONLINE
                    </h1><hr class="hrpblue" />
                    <div class="input-group spacer-top">
                        <label class="pull-left">First Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="FirstName" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left" for="formlastname">Last Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left">Email: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control pull-right" name="Email" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left" for="formtelephone">Telephone: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="Telephone" for="formtelephone" required="" />
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left">Program: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="ProgramID" id="ProgramID">
                            <option value="0">Select</option>
                            <option value="38882">Anatomy &amp; Physiology</option>
                            <option value="38885">Dental Assisting Level II Online Ebooks Incld.</option>
                            <option value="40143">Dental Assisting Level II Online no Ebooks</option>
                            <option value="38883">Dental Office Procedures (abel dent)</option>
                            <option value="1170">Medical Terminology</option>
                            <option value="39438">Medical Terminology and OHIP Package</option>
                            <option value="39439">Medical Terminology and Transcription Package</option>
                            <option value="38887">Medical Transcription</option>
                            <option value="38884">Pre-Science Package (MedTerm, Bio and Chem)</option>
                            <option value="1167">Principles of Nutrition</option>
                            <option value="1171">Thought Patterns</option>

                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left">Comments: </label>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center grayColor">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>


            </div>


        </div>
