
@{
    Layout = "~/Views/MedixOnline/_MedixOnlineLayout.cshtml";
}

<h1 class="contentPageH1">DENTAL TERMINOLOGY <small class="contentH1-small">ADVANTAGES</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About Medix Online", "Index", "MedixOnline")</li>
    <li class="active contentp">Dental Terminology</li>
</ol>
