@{
    Layout = "~/Views/MedixOnline/_MedixOnlineLayout.cshtml";
}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">MEDIX ONLINE PROGRAMS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("About Medix Online", "Index", "MedixOnline")</li>
        <li class="active contentp">Medix Online Programs</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/medixonline-fees.jpg" alt="person behind laptop paying by credit card" />
</div>

<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">
        <div class="panel-body">
       
            <h2 class="contentH2">Continous Intake Programs:</h2>
            <p class="contentp">
                Medix Online has designed all of these programs so that you can start learning at any time! Join any of the following

                courses and join the medix online learning community and start your education today!
            </p>
        </div>
    </div>









    <table class="table table-bordered table-striped">
        <tr>
            <th width="50%" class="active"><h2 class="contentH2">PROGRAM</h2></th>
            <th width="50%" class="active"><h2 class="contentH2">SUMMARY</h2></th>
        </tr>
        <tr>
            <td width="50%">
                <p class="contentp">ANATOMY & PHYSIOLOGY*:</p>
            </td>

            <td width="50%">
                <p class="contentp">
                
                    The course aims to promote the acquisition of basic anatomical knowledge and provide an opportunity

                    for students to refresh and develop their skills in anatomy by emphasizing clinical aspects particularly in

                    health and disease.
            </td>
        </tr>
        <tr>
            <td width="50%">
                <p class="contentp">DENTAL OFFICE PROCEDURES (ABELDent)*:</p>
            </td>

            <td width="50%">
                <p class="contentp">

                    The basics of Abeldent, popular software widely used in various dental offices.
                
                </p>
            </td>
        </tr>
        <tr>
            <td width="50%">
                <p class="contentp">DENTAL ASSISTING LEVEL II UPGRADE*:</p>
            </td>

            <td width="50%">
                <p class="contentp">

                    This certificate continuing education program is designed for level I dental assistants who wish to

                    upgrade their skills to meet the requirements of a level II dental assistant. Upon completion of

                    theprogram the graduate will be eligible to challenge the NDAEB exam and apply for level II certification

                    with the Ontario Dental Assistants Association.

                </p>
            </td>
        </tr>
        <tr>
            <td width="50%">
                <p class="contentp">DENTAL TERMINOLOGY*:</p>
            </td>

            <td width="50%">
                <p class="contentp">This course covers the gamut of modern dental care – from an introduction to basic word structure to

the language of basic sciences, infection control, dental instruments and equipment, radiographic

imaging, dental materials, and an overview of general and specialty dentistry. The students learn and

comprehend the language of dentistry on a much deeper level and build a solid foundation for clinical

competence.</p>
            </td>
        </tr>


        <tr>
            <td width="50%">
                <p class="contentp">ELECTRONIC MEDICAL RECORDS (EMR)*:</p>
            </td>

            <td width="50%">
                <p class="contentp">This course is designed to introduce you to the concepts, knowledge, and skills you will need to be

successful as a Health Office Professional using a Computerized Medical System (CMS).</p>
            </td>
        </tr>


        <tr>
            <td width="50%">
                <p class="contentp">MEDICAL BILLING (OHIP)*:</p>
            </td>

            <td width="50%">
                <p class="contentp">Apply the basic principles of Health Claim billing.</p>
            </td>
        </tr>


        <tr>
            <td width="50%">
                <p class="contentp">MEDICAL TRANSCRIPTION*:</p>
            </td>

            <td width="50%">
               
                <p class="contentp">Identify and define the knowledge, skills, and abilities, required of a medical transcriptionist, including

medical editing.</p>
            </td>
        </tr>

        <tr>
            <td width="50%">
                <p class="contentp">PRINCIPLES OF NUTRITION*:</p>
            </td>

            <td width="50%">
                <p class="contentp">Concepts related to nutrients in foods, as well as its applications to phases of the human life cycle.</p>
            </td>
        </tr>

        <tr>
            <td width="50%">
                <p class="contentp">PROFESSIONAL EXAM REVIEWS*:</p>
            </td>

            <td width="50%">
                <p class="contentp">Test Prep for OSMT and Dental Assisting.</p>
            </td>
        </tr>

        <tr>
            <td width="50%">
                <p class="contentp">THOUGHT PATTERNS FOR A SUCCESSFUL CAREER*:</p>
            </td>

            <td width="50%">
                <p class="contentp">This program is designed for both academic & personal growth and success.</p>
            </td>
        </tr>

        <tr>
            <td width="50%">
                <p class="contentp">MICROSOFT OFFICE PACKAGE*:</p>
            </td>

            <td width="50%">
                <p class="contentp">Combine any of our Healthcare courses with the Microsoft Office 2013 course. The Microsoft Office

course will introduce students to the fundamentals of various Microsoft Office programs such as MS

Word, MS Excel, MS PowerPoint, MS Access, MS Outlook, MS SharePoint and MS Project.. Whether

you are new to Microsoft Office 2013, want to enhance your existing skills, or plan to get certified, there

is a structured learning roadmap to meet your needs. Upon completion of the program(s), students will

become more proficient in using these software suites within a professional setting.</p>
            </td>
        </tr>

        <tr>
            <td width="50%">
                <p class="contentp">SPECIAL PACKAGES*:</p>
            </td>

            <td width="50%">
                <p class="contentp">
                    Medix Online provides package options for students looking to take more than one Medix Online

                    course. Students are able to take advantage of a special discount of $75 /course by registering for 2

                    courses at the same time. The courses need not be done simultaneously but can be completed one after

                    the other as long as the courses are finished within the one year activation period.
                </p>
            </td>
        </tr>
    </table>


    
    <p class="contentp">                *This program does not require approval under the Private Career College Act, 2005
</p>
    
</div>

<div class="col-sm-4 pull-right">
    <div class="panel panel-default">

        <div class="row formWrapper overquestionsForm">

            <form id="medixOnlineQuestionsForm" name="medixOnlineQuestionsForm" data-parsley-validate="" class="questionsForm" method="post" action="/MedixOnline/ContactMedixOnlineForm">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; CONTACT MEDIX ONLINE
                </h1><hr class="hrpblue" />
                <div class="input-group spacer-top">
                    <label class="pull-left">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left" for="formlastname">Last Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left" for="formtelephone">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" for="formtelephone" required="" />
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID" id="ProgramID">
                        <option value="0">Select</option>
                        <option value="38882">Anatomy &amp; Physiology</option>
                        <option value="38885">Dental Assisting Level II Online Ebooks Incld.</option>
                        <option value="40143">Dental Assisting Level II Online no Ebooks</option>
                        <option value="38883">Dental Office Procedures (abel dent)</option>
                        <option value="1170">Medical Terminology</option>
                        <option value="39438">Medical Terminology and OHIP Package</option>
                        <option value="39439">Medical Terminology and Transcription Package</option>
                        <option value="38887">Medical Transcription</option>
                        <option value="38884">Pre-Science Package (MedTerm, Bio and Chem)</option>
                        <option value="1167">Principles of Nutrition</option>
                        <option value="1171">Thought Patterns</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>


        </div>


    </div>
