@{
    Layout = "~/Views/MedixOnline/_MedixOnlineLayout.cshtml";
}

@{
    ViewBag.Title = "Schedule and Fee's - Medix Online";
    ViewBag.PageDescription = "Learn more about the Medix Online's Schedule and Program Fees.";
}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">SCHEDULES AND FEES <small class="contentH1-small">ADVANTAGES</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("About Medix Online", "Index", "MedixOnline")</li>
        <li class="active contentp">Schedules & Fees</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/medixonline-fees.jpg" alt="person behind laptop paying by credit card" />
</div>

<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="contentp">
               
            </p>
            <h2 class="contentH2">Our Fees are Inclusive!</h2>
            <p class="contentp">
                Medix Online has designed all of our fees to be all inclusive!

                Access to our Learning Platform, Books, Materials, and Shipping are all Included!
            </p>
        </div>
    </div>









    <table class="table table-bordered table-striped">
        <tr>
            <th width="50%" class="active"><h2 class="contentH2">PROGRAM</h2></th>
            <th width="50%" class="active"><h2 class="contentH2">COST</h2></th>
        </tr>
        <tr>
            <td width="50%">
                <p class="contentp">Microsoft Office Package*:</p>
            </td>

            <td width="50%">
                <p class="contentp">Limited Time Offer - Register for any of our online Healthcare courses and get the MS Office 2013 course worth $250 for just $149!</p>
            </td>
        </tr>
        <tr>
            <td width="50%">
                <p class="contentp">Principles of Nutrition*</p>
            </td>

            <td width="50%">
                <p class="contentp">$450 CDN</p>
            </td>
        </tr>
        <tr>
            <td width="50%">
                <p class="contentp">Medical Billing (OHIP)*</p>
            </td>

            <td width="50%">
                <p class="contentp">$450 CDN</p>
            </td>
        </tr>
        <tr>
            <td width="50%">
                <p class="contentp">Medical Terminology*</p>
            </td>

            <td width="50%">
                <p class="contentp">$450 CDN</p>
            </td>
        </tr>


        <tr>
            <td width="50%">
                <p class="contentp">Medical Transcription*</p>
            </td>

            <td width="50%">
                <p class="contentp">$450 CDN</p>
            </td>
        </tr>


        <tr>
            <td width="50%">
                <p class="contentp">Anatomy & Physiology*</p>
            </td>

            <td width="50%">
                <p class="contentp">$450 CDN</p>
            </td>
        </tr>






        <tr>
            <td width="50%">
                <p class="contentp">Special Packages*:</p>
            </td>

            <td width="50%">
                <p class="contentp">Any Combination of two of our online courses get a $150 discount for the package.
                
                <ul>
                    <li>$749 CDN  - Medical Terminology and Medical Transcription</li>
                    <li>$749 CDN  - Medical Terminology and Medical Billing (OHIP)</li>
                    <li>$749 CDN  - Medical Billing (OHIP) and Electronic Medical Records (EMR)</li>
                    <li>$749 CDN  - Medical Terminology and Human Anatomy & Physiology</li>
                </ul>
                
                
                 </p>
            </td>
        </tr>


        <tr>
            <td width="50%">
                <p class="contentp">Dental Assisting Level II Upgrade*:</p>
            </td>

            <td width="50%">
                <ul>
                    <li>$2400 CDN - Theory(Online) + Practical(Campus-Based)</li>
                    <li>$2620 CDN - Theory(Online) + Practical(Campus-Based) + E-book Access</li>

                </ul>
            </td>
        </tr>

        <tr>
            <td width="50%">
                <p class="contentp">Dental Office Procedures*: (ABEL DENT)</p>
            </td>

            <td width="50%">
                <p class="contentp">$299 CDN</p>
            </td>
        </tr>

        <tr>
            <td width="50%">
                <p class="contentp">Thought Patterns for a Successful Career* (also known as Success Strategies):</p>
            </td>

            <td width="50%">
                <p class="contentp">$299 CDN</p>
            </td>
        </tr>
    </table>



    
</div>

<div class="col-sm-4 pull-right">
    <div class="panel panel-default">

        <div class="row formWrapper overquestionsForm">

            <form id="medixOnlineQuestionsForm" name="medixOnlineQuestionsForm" data-parsley-validate="" class="questionsForm" method="post" action="/MedixOnline/ContactMedixOnlineForm">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; CONTACT MEDIX ONLINE
                </h1><hr class="hrpblue" />
                <div class="input-group spacer-top">
                    <label class="pull-left">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left" for="formlastname">Last Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left" for="formtelephone">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" for="formtelephone" required="" />
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Program: <span class="text-danger">*</span></label>
                    <select required="" class="form-control pull-right" name="ProgramID" id="ProgramID">
                        <option value="">Select</option>
                        <option value="38882">Anatomy &amp; Physiology</option>
                        <option value="38885">Dental Assisting Level II Online Ebooks Incld.</option>
                        <option value="40143">Dental Assisting Level II Online no Ebooks</option>
                        <option value="38883">Dental Office Procedures (abel dent)</option>
                        <option value="1170">Medical Terminology</option>
                        <option value="39438">Medical Terminology and OHIP Package</option>
                        <option value="39439">Medical Terminology and Transcription Package</option>
                        <option value="38887">Medical Transcription</option>
                        <option value="38884">Pre-Science Package (MedTerm, Bio and Chem)</option>
                        <option value="1167">Principles of Nutrition</option>
                        <option value="1171">Thought Patterns</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>


        </div>


    </div>
