@{
    Layout = "~/Views/CareerServices/_CareerServicesLayout.cshtml";

}

@{
    ViewBag.Title = "Medix College Advantage";
    ViewBag.PageDescription = "The Medix Advantage is a job database for employers who are looking to hire health care professionals";
}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">MEDIX ADVANTAGE</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Career Services Home", "Index", "CareerServices")</li>
        <li class="active contentp">Medix Advantage</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/cs-medixadvantage.jpg" alt="man raising hand to ask question" />
</div>

<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">What is the MEDIX Advantage?</h1><hr class="hrp" />

            <ol class="contentp">
                <li>Powerful tools for identifying career opportunities</li>

                <li>
                    Significant Advantage - MEDIX Advantage gives our students a significant advantage over

                    individuals who do not have access to this technology
                </li>

                <li>Web-based solution is integrated into the MEDIX web site</li>
            </ol>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">What are the benefits to the MEDIX Advantage?</h1><hr class="hrp" />
            <ol class="contentp">
                <li>Provides powerful tools for a targeted job search campaign</li>

                <li>MEDIX Advantage is designed for the job seeker—it is unlike employer-funded job sites</li>

                <li>Consolidates new job postings from thousands of independent local sources</li>

                <li>Delivers access to a much larger number of local job opportunities than any other source</li>

                <li>
                    Reduces the number of missed job opportunities—simply impossible for an individual to

                    identify and then keep an eye on all the sources monitored by MEDIX Advantage
                </li>

                <li>
                    Most job opportunities captured by MEDIX Advantage are not available on any employer-

                    sponsored sites
                </li>
            </ol>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="http://www.careeraim.com/CareerSite1/login.aspx" target="_blank"><h1 class="contentH1"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;LAUNCH MEDIX ADVANTAGE</h1></a>

        </div>
    </div>



</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            @Html.Partial("_AskAQuestionForm", new ViewDataDictionary { { "postAction", "/home/askquestionprogram" } })
        </div>

    </div>

</div>


