@{
    Layout = "~/Views/DiscoverMedix/_DiscoverMedixLayout.cshtml";
}
@{
    ViewBag.Title = "Careers At Medix College";
    ViewBag.PageDescription = "Medix College has exciting career opportunities for individuals looking to work within our organization";

}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">CAREERS AT MEDIX</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("About Medix", "Index", "DiscoverMedix")</li>
        <li class="active contentp">Careers at Medix</li>
    </ol>
    <img class="img-responsive" width="100%" src="/Content/images/discover-careers.jpg" alt="female smiling during job interview" />
</div>


<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="contentp">
                Medix College is always continuing to provide quality training to it's students. Medix College appreciates, respects and encourages diversity. Applications from qualified candidates are encouraged.
                You are welcome to submit a resume and it will be kept on file should an opportunity present itself you will be contacted.
                <br /><br />
                To apply for any positions, kindly email us your resume by&nbsp;<a href="mailto:careers@medixcollege.ca?Subject=Job%20Application" target="_top">CLICKING HERE </a>  and please quote the name of the position in the subject line. <br />
                <a href="mailto:careers@medixcollege.ca?Subject=Job%20Application" target="_top"></a>
            </p>
        </div>
    </div>


    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>

        <div class="col-sm-4 pull-right no-padding">
            <div class="panel panel-default bluePANEL2">

                <div class="panel-body">
                    @Html.Partial("_AskAQuestionForm", new ViewDataDictionary { { "postAction", "/home/askquestionprogram" } })
                </div>

            </div>

</div>
