@{
    Layout = "~/Views/DiscoverMedix/_DiscoverMedixLayout.cshtml";
}

@{
    ViewBag.Title = "Medix College Testimonials and Reviews";
    ViewBag.PageDescription = "Medix College has had good reviews from past students and graduates. Below are a couple of reviews of their Medix College Experience.";
    
}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">TESTIMONIALS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("About Medix", "Index", "DiscoverMedix")</li>
        <li class="active contentp">Testimonials</li>
    </ol>

</div>

<div class="col-sm-8 mid-padding">

    


    <div class="panel panel-default">
        <div class="panel-body">
                        <div class="videoWrapperProgram">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/XHp9oNX4cZI?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
          <br/>
            <p class="contentp">
                To see more reviews please go to
                <a href="http://www.medixcollegereviews.com" target="_blank"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;Medix College Student Reviews</a>
            </p>
        </div>
    </div>

  
    
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="videoWrapperProgram">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/lK7-VbtSDfA?rel=0?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <br />
            <p class="contentp">
                To see more reviews please go to
                <a href="http://www.medixcollegereviews.com" target="_blank">
                    <span class="glyphicon glyphicon-play-circle"></span>&nbsp;Medix College Student Reviews</a>
            </p>
        </div>
    </div>
  
    

    


    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            @Html.Partial("_AskAQuestionForm", new ViewDataDictionary { { "postAction", "/home/askquestionprogram" } })
        </div>

    </div>

</div>