@{
    Layout = "~/Views/Courses/_CoursesLayout.cshtml";
}

@{
    ViewBag.Title = "Community Service Worker Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Community Service Worker Training Program at Medix College.";
}

<div class="container-fluid">

    <div class="col-lg-12 col-md-12 col-sm-12 landing-top-banner">
        <div class="container col-lg-12 col-md-12 col-sm-12">
            <br />
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="/home"><img src="~/Content/images/white-medix-logo.gif" class="mainLogo img-responsive" alt="Medix College Logo" /></a>
                <br />
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="pull-right hidden-xs"> <h1 class="contentPageH1-white"><span class="glyphicon glyphicon-earphone"></span>&nbsp;1(866) 962-7685</h1></div>

            </div>
        </div>
    </div>
        <!--Start Div-->
        <div class="container col-lg-12 col-md-12 col-sm-12">

            <div class="landing-body col-lg-12 col-md-12 col-sm-12">
                <h1 class="contentPageH1">BECOME A <span class="landingH1">COMMUNITY SERVICE WORKER</span></h1><hr class="hrpbluethin" /><h2 class="contentH2-landing">
    Salary Information: Average/High Wage ($/hr) $21.75-$32.00
</h2>
<p class="contentp">
    Source: jobbank.gc.ca, NOC code: 4212
</p>
            </div>


            <div class="clearfix">    </div>

            <div class="landing-body col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-4 col-md-4 col-sm-4 pull-right ">


                    <div class="panel panel-default landingFormBG">

                        <div class="panel-body">
                            <form id="questionsForm" name="questionsForm" method="post" data-parsley-validate="" class="questionsForm" action="/home/SearchEngineMarketingPost">
                                <input type="hidden" name="ORGID" value="240" />
                                <input type="hidden" name="MailListID" value="240001" />
                                <input type="hidden" name="form_variable" value="@ViewBag.form_variable" />
                                <h1 class="contentH1 text-center">
                                    @ViewBag.form_variable
                                </h1><h1 class="contentH1 text-center">
                                    FILL OUT FORM, GET FREE INFO!
                                </h1><hr class="hrpblue" />
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Full Name: </label>
                                    <input type="text" class="form-control pull-right" name="FirstName" />
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Telephone: </label>
                                    <input type="text" class="form-control pull-right" name="Telephone" />
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Email: </label>
                                    <input type="email" class="form-control pull-right" name="Email" />
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Location: </label>
                                    <select class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                                        <option value="0">Select</option>
                                        <option value="246">Brampton</option>
                                        <option value="243">Brantford</option>
                                        <option value="242">Kitchener</option>
                                        <option value="244">London</option>
                                        <option value="241">Scarborough</option>
                                        <option value="240">Toronto</option>
                                    </select>
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Program: </label>
                                    <select class="form-control pull-right" name="ProgramID" id="askQuestionCampusList">
                                        <option value="0">Select</option>
                                        <option value="39877">Child and Youth Care with Addictions Support Worker</option>
                                        <option value="632">Community Service Worker</option>
                                        <option value="634">Developmental Service Worker</option>
                                        <option value="38526">Early Childcare Assistant</option>
                                        <option value="37255">Fitness &amp; Health Promotion</option>
                                        <option value="627">Intra-Oral Dental Assistant </option>
                                        <option value="629">Massage Therapy</option>
                                        <option value="633">Medical Laboratory Assistant / Technician</option>
                                        <option value="630">Medical Office Administrator</option>
                                        <option value="631">Personal Support Worker</option>
                                        <option value="628">Pharmacy Assistant</option>
                                    </select>
                                </div>
                                <div class="input-group spacer-top hidden">
                                    <label class="pull-left contentp">Question: </label>
                                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                                </div>
                                <div class="small-text spacer-top text-center grayColor">
                                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                                </div>
                                <div class="text-center">
                                    <input id="askQuestionSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block btn-landingFormButton" />
                                </div>
                            </form>
                        </div>

                    </div>


                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">

                    <div class="col-lg-8">

                        
                            <h2 class="contentH2-landing">
ABOUT THE PROGRAM                            </h2>
                            
                        <p class="contentp">
                            The Community Service Worker program at Medix College provides technical training for individuals

                            looking for a rewarding career in the community service field. This program involves a great deal of

                            small group work, practice interviews, and exercises in self-awareness. During the program, students will

                            grow to understand the complexities of contemporary community work practice, the helping process,

                            human development, first aid/CPR and crisis prevention.

                            <br /><br />

                            Students will practice with families and individuals, understand the human health model, and explore

                            research methods. Throughout the course of the Community Service Worker Program, students will gain

                            the knowledge and experience to prepare them for work with clients from a range of age groups, with a

                            variety of social and emotional issues.
                        </p>

                          

                            <div class="well well-sm">
                                <h2 class="contentH2-landing">
CAREER OPPORTUNITIES                                </h2>

                                <table class="table">

                                    <tbody>
                                        <tr>
                                            <td>Community Service Worker</td>
                                            <td>Intake Worker</td>
                                        </tr>

                                        <tr>
                                            <td>Residential Counsellor</td>
                                            <td>Rehabilitation Care Worker</td>
                                        </tr>

                                        <tr>
                                            <td>Addictions & Community Services Worker</td>
                                            <td>Youth Coordinator</td>
                                        </tr>

                                        <tr>
                                            <td>Community Health Worker</td>
                                            <td>Support Worker</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>


                    </div>




                    <div class="col-lg-4">
                        <img class="img-responsive" width="100%" src="~/Content/images/medixCatalogue3.jpg" alt="medix medical office students working on a computer" />
                        <h2 class="contentH2 pull-right hidden-xs">
                            REQUEST FREE INFO <span class="glyphicon glyphicon-arrow-right"></span>
                        </h2>
                    </div>
                    <div class="clearfix"></div>





                    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
                        <br />
                        <h1 class="contentPageH1">
                            GRADUATES FROM MEDIX COLLEGE HAVE BEEN HIRED AT:
                        </h1>
                        <hr class="hrpbluethin" />

                        <img src="/Content/images/hiredCO.jpg" class="img-responsive" alt="companies that have hired Medix graduates" />
                    </div>

                </div>

                
                <!--End-->
            </div>



            <!--PAGEend-->
        </div>
        <div class="footer-banner col-lg-12">

            <div class="container">
                <img class="center-block" src="~/Content/images/CCGLogo.png" alt="The Career College Group logo." />
            </div>
        </div>
    </div>