@{
    Layout = "~/Views/Courses/_CoursesLayout.cshtml";
}

@{
    ViewBag.Title = "Intra-Oral Dental Assistant Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Intra-Oral Dental Assistant Training Program at Medix College.";
}

<div class="container-fluid">

    <div class="col-lg-12 col-md-12 col-sm-12 landing-top-banner">
        <div class="container col-lg-12 col-md-12 col-sm-12">
            <br />
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="/home"><img src="~/Content/images/white-medix-logo.gif" class="mainLogo img-responsive" alt="Medix College Logo" /></a>
                <br />
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="pull-right hidden-xs"> <h1 class="contentPageH1-white"><span class="glyphicon glyphicon-earphone"></span>&nbsp;1(866) 962-7685</h1></div>

            </div>
        </div>
    </div>
        <!--Start Div-->
        <div class="container col-lg-12 col-md-12 col-sm-12">



            <div class="clearfix">    </div>

            <div class="landing-body col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-8 col-md-8 col-sm-8">

                    <h1 class="contentPageH1">GET THE SKILLS TO BE A INTRA-ORAL DENTAL ASSISTANT</h1><hr class="hrpbluethin" />





                    <div class="col-lg-8">

                        
                            <h2 class="contentH2-landing">
ABOUT THE PROGRAM                            </h2>
                            
                        <p class="contentp">
                            The Intra-Oral Dental Assistant program at Medix College provides training for individuals looking for a

                            rewarding career working in an oral healthcare setting. Intra-Oral Dental Assistants help dentists during

                            examinations and treatments. They also provide direct client care, educate clients on the importance of

                            oral health and perform basic laboratory duties and manage client records.

                        </p>
                        
                        <br/>

                            <div class="well well-sm">
                                <h2 class="contentH2-landing">
CAREER OPPORTUNITIES                                </h2>

                                <table class="table">

                                    <tbody>
                                        <tr>
                                            <td>Intra-Oral Dental Assistant</td>
                                            <td>Dental Assistant/Administrator</td>
                                        </tr>

                                        <tr>
                                            <td>Dental Office Assistant</td>
                                            <td>Preventative Dental Assistant</td>
                                        </tr>

                                        <tr>
                                            <td>Dental Assistant/Receptionist</td>
                                            <td></td>
                                        </tr>


                                    </tbody>

                                </table>
                            </div>


                    </div>




                    <div class="col-lg-4">
                        <img class="img-responsive" width="100%" src="~/Content/images/medixCatalogue3.jpg" alt="medix medical office students working on a computer" />
                        <h2 class="contentH2 pull-right hidden-xs">
                            REQUEST A CATALOGUE <span class="glyphicon glyphicon-arrow-right"></span>
                        </h2>
                    </div>
                    <div class="clearfix"></div>




                    <div class="panel-body">
                        <div class="videoWrapperProgram">
                            <iframe width="560" height="349" src="https://www.youtube.com/embed/-edXQ1IN0pI?rel=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <br />

                        <a class="btn btn-small btn-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <h2 class="contentH2">
                                <span class="glyphicon glyphicon-film CgoldBlueBorder"></span>    See Transcript
                            </h2>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div class="well">

                                My name is Michelle B, and I study IODA which is Intra-Oral Dental Assistant<br /><br />
                                I am taking the course because I want a career<br /><br />
                                Before I came to Medix, I was bartending, and (it was) it was horrible, long hours, late hours<br /><br />
                                I came to Medix because I heard about it from a friend and she got me really pumped up to go<br /><br />
                                I love working in the lab, (it’s really) it’s awesome, it’s straight forward, it’s down to earth<br /><br />
                                You will be dealing with the ultrasonic, the Lisa, You’ll have actually real X-Ray machines to be using to take radio graphs<br /><br />
                                An externship is pretty much like a real coop, so you need a certain amount of hours, you go out into the dental office<br /><br />
                                You have a chance to practice, they get you prepared and it’s a great experience to learn<br /><br />
                                We use Dexters, they are really cool. You get a lot of practice before you practice on real people so you are comfortable before your patient comes in<br /><br />
                                What I like best about the campus is that you walk in here comfortable right away. <br /><br />
                                And go right into your classroom, sit down and you’re ready to go<br /><br />
                                We have one instructor and she is very knowledgeable, She’ll tell you how it’s done, how it’s done properly<br /><br />
                                She is very straight forward, she gets to the point and you learn so much from her<br /><br />
                                You just absorb so much of her knowledge, She’s awesome<br /><br />
                                My family feels amazing that I went back to school, that I went back to Medix<br /><br />
                                They’re so happy for me to be able to get a career to better my life<br /><br />
                                What I would tell someone who is un-decisive about coming to Medix is to just do it<br /><br />
                                Honestly you’ll feel great about accomplishing your goal and don’t think about it, just do it<br /><br />
                                What you learn at Medix is what you’ll be doing in real life. It’s an amazing feeling


                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
                        <br />
                        <h1 class="contentPageH1">
                            GRADUATES FROM MEDIX COLLEGE HAVE BEEN HIRED AT:
                        </h1>
                        <hr class="hrpbluethin" />

                        <img src="/Content/images/hiredCO.jpg" class="img-responsive" alt="companies that have hired Medix graduates" />
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">


                    <div class="panel panel-default">

                        <div class="panel-body formBodyGray">
                            <form id="questionsForm" name="questionsForm" method="post" data-parsley-validate="" class="questionsForm" action="/home/SearchEngineMarketingPost">
                                <input type="hidden" name="ORGID" value="240" />
                                <input type="hidden" name="MailListID" value="240001" />
                                <input type="hidden" name="form_variable" value="@ViewBag.form_variable" />
                                <h1 class="contentH1 text-center">
                                    ASK A QUESTION or <br /> REQUEST A CATALOGUE
                                </h1><hr class="hrpblue" />
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control pull-right" name="FirstName" required="" />
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control pull-right" name="Telephone" required="" />
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control pull-right" name="Email" required="" />
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                                    <select class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                                        <option value="0">Select</option>
                                        <option value="246">Brampton</option>
                                        <option value="243">Brantford</option>
                                        <option value="242">Kitchener</option>
                                        <option value="244">London</option>
                                        <option value="241">Scarborough</option>
                                        <option value="240">Toronto</option>
                                    </select>
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                                    <select class="form-control pull-right" name="ProgramID" id="askQuestionCampusList">
                                        <option value="0">Select</option>
                                        <option value="38882">Anatomy &amp; Physiology</option>
                                        <option value="39877">Child and Youth Care with Addictions Support Worker</option>
                                        <option value="632">Community Service Worker</option>
                                        <option value="39478">CPR &amp; First Aid</option>
                                        <option value="818">Dental Level 2</option>
                                        <option value="38883">Dental Office Procedures (abel dent)</option>
                                        <option value="634">Developmental Service Worker</option>
                                        <option value="38526">Early Childcare Assistant</option>
                                        <option value="642">ECG</option>
                                        <option value="37255">Fitness &amp; Health Promotion</option>
                                        <option value="39162">Intramuscular Injection</option>
                                        <option value="627">Intra-Oral Dental Assistant </option>
                                        <option value="629">Massage Therapy</option>
                                        <option value="633">Medical Laboratory Assistant / Technician</option>
                                        <option value="630">Medical Office Administrator</option>
                                        <option value="1170">Medical Terminology</option>
                                        <option value="38887">Medical Transcription</option>
                                        <option value="39415">Mental Health &amp; Addictions</option>
                                        <option value="1169">OHIP Billing</option>
                                        <option value="631">Personal Support Worker</option>
                                        <option value="628">Pharmacy Assistant</option>
                                        <option value="636">Phlebotomy</option>
                                        <option value="1167">Principles of Nutrition</option>
                                        <option value="643">PSW Upgrading</option>
                                        <option value="1171">Thought Patterns</option>

                                    </select>
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Question: </label>
                                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                                </div>
                                <div class="small-text spacer-top text-center grayColor">
                                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                                </div>
                                <div class="text-center">
                                    <input id="askQuestionSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                                </div>
                            </form>
                        </div>

                    </div>


                </div>
                <!--End-->
            </div>



            <!--PAGEend-->
        </div>
        <div class="footer-banner col-lg-12">

            <div class="container">
                <img class="center-block" src="~/Content/images/CCGLogo.png" alt="The Career College Group logo." />
            </div>
        </div>
    </div>