@{
    Layout = "~/Views/Courses/_CoursesLayout.cshtml";
}

@{
    ViewBag.Title = "Pre-Medical Program - Medix College";
    ViewBag.PageDescription = "Learn more about Pre-Medical Training Program at Medix College.";
}

<div class="container-fluid">

    <div class="col-lg-12 col-md-12 col-sm-12 landing-top-banner">
        <div class="container col-lg-12 col-md-12 col-sm-12">
            <br />
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="/home"><img src="~/Content/images/white-medix-logo.gif" class="mainLogo img-responsive" alt="Medix College Logo" /></a>
                <br />
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="pull-right hidden-xs"> <h1 class="contentPageH1-white"><span class="glyphicon glyphicon-earphone"></span>&nbsp;1(866) 962-7685</h1></div>

            </div>
        </div>
    </div>
        <!--Start Div-->
        <div class="container col-lg-12 col-md-12 col-sm-12">
            <div class="landing-body col-lg-12 col-md-12 col-sm-12">
                <h1 class="contentPageH1"><span class="landingH1">PRE-MEDICAL PROGRAM</span></h1><hr class="hrpbluethin" /><h2 class="contentH2-landing">

            </div>



            <div class="clearfix">    </div>

            <div class="landing-body col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-4 col-md-4 col-sm-4 pull-right ">


                    <div class="panel panel-default landingFormBG">

                        <div class="panel-body">
                            <form id="questionsForm" name="questionsForm" method="post" data-parsley-validate="" class="questionsForm" action="/home/SearchEngineMarketingPost">
                                <input type="hidden" name="ORGID" value="240" />
                                <input type="hidden" name="MailListID" value="240001" />
                                <input type="hidden" name="form_variable" value="@ViewBag.form_variable" />
                                <h1 class="contentH1 text-center">
                                    @ViewBag.form_variable
                                </h1><h1 class="contentH1 text-center">
                                   GET CATALOGUE
                                </h1><hr class="hrpblue" />
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Full Name: </label>
                                    <input type="text" class="form-control pull-right" name="FirstName" />
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Telephone: </label>
                                    <input type="text" class="form-control pull-right" name="Telephone" />
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Email: </label>
                                    <input type="email" class="form-control pull-right" name="Email" />
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Location: </label>
                                    <select required="" class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                                        <option value="">Select</option>
                                        <option value="246">Brampton</option>
                          
                                        <option value="241">Scarborough</option>
                                        <option value="240">Toronto</option>
                                    </select>
                                </div>
                                <div class="input-group spacer-top">
                                    <label class="pull-left contentp">Program: </label>
                                    <select required="" class="form-control pull-right" name="ProgramID" id="askQuestionCampusList">
                                        <option value="41072">Pre-medical</option>
<option value="">Select</option>
                                       
                                    </select>
                                </div>
                                <div class="input-group spacer-top hidden">
                                    <label class="pull-left contentp">Question: </label>
                                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                                </div>
                                <div class="small-text spacer-top text-center grayColor">
                                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                                </div>
                                <div class="text-center">
                                    <input id="askQuestionSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block btn-landingFormButton" />
                                </div>
                            </form>
                        </div>

                    </div>


                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">

                    <div class="col-lg-8">

                        
                            <h2 class="contentH2-landing">
ABOUT THE PROGRAM                            </h2>
                        <img class="img-responsive" width="100%" src="~/Content/images/premed_1.jpg" alt="medical students smiling" />
                        <br/>
                        <p class="contentp">
                            The Medix College Pre-Medical Program is a well-established, Pre-Health Sciences program providing aspiring students with in-depth knowledge and requirements for medical school. It plays an important, intermediary role in a student's educational path.
                            <br/><br/>Students will undergo a three semester Pre-Health Sciences program to earn the credits and experience needed for their chosen career path. During the Pre-Health Sciences program students can also gain credits towards meeting the requirements of the Basic Sciences program at various medical schools. The Pre-Health Sciences program consists of three semesters (50 weeks total) and earn a total of 90 credits. This allows students to be well prepared for their path in healthcare.
                          
                           
                        </p>
                       
                        <h4>Students complete 90 credit hours of the Pre-Med program in one year, which provides the prerequisites to be qualified and eligible for admission into one of the M.D. program of our partner universities - with no MCAT required.</h4>
          
                        <br />

                            <div class="well well-sm">
                                <h2 class="contentH2-landing">
                                    Program Prerequisite</h2>
                                <ul>
                                    <li>Completion of Grade 12, OSSD, or Mature Student Status</li>
                                    <li>Successful completion of entrance evaluation</li>
                                    <li>Admissions Interview</li>
                                    <li>Criminal Reference Check – Vulnerable Sector</li>
                                    <li>Medix College of Healthcare Medical Check Form (completed within 30 days of program start date)</li>
                                    <li>Screening (Clear or have pardon prior to starting class)</li>
                                </ul>

                          
                            </div>
                        <br/>

                        <h2 class="contentH2-landing">
                            GET THE COURSE CATALOGUE TO LEARN MORE ABOUT THE PROGRAM
                        </h2>
                    <p>The course catalogue includes:</p>
                        <ul>
                            <li>Course Breakdown</li>
                            <li>Course Materials</li>
                            <li>Course Content</li>
                        </ul>

                    </div>




                    <div class="col-lg-4">
                        <img class="img-responsive" width="100%" src="~/Content/images/medixCatalogue3.jpg" alt="medix medical office students working on a computer" />
                        <h2 class="contentH2 pull-right hidden-xs">
                            REQUEST CATALOGUE <span class="glyphicon glyphicon-arrow-right"></span>
                        </h2>
                    </div>
                    <div class="clearfix"></div>



                </div>

                
                <!--End-->
            </div>



            <!--PAGEend-->
        </div>
        <div class="footer-banner col-lg-12">

            <div class="container">
                <img class="center-block" src="~/Content/images/CCGLogo.png" alt="The Career College Group logo." />
            </div>
        </div>
    </div>