@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Developmental Service Worker Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Developmental Service Training Program at Medix College.";
}
<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">DEVELOPMENTAL SERVICE WORKER <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
        <li class="active contentp">Developmental Service Worker</li>
    </ol>
    <img class="img-responsive" width="100%" src="/Content/images/program-dsw.jpg" alt="developmental service worker with a youth" />
</div>



<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">PROGRAM SUMMARY</h1>

        </div>
        <div class="panel-body">
            <p class="contentp">
                The Developmental Service Worker program at Medix College provides technical training for individuals

                looking for a rewarding career working with children, youth and adults who have developmental

                disabilities. Students will learn to give clients support and offer encouragement while promoting their

                mental, emotional and physical health.

            </p>
        </div>
    </div>




    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                EMPLOYMENT TYPES
            </h1>

        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                What career opportunities are available to graduates from the Developmental Service Worker program?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                Development assistant<br /><hr class="hrp">
                Classroom assistants<br /><hr class="hrp">
                Family support worker<br /><hr class="hrp">
                Special needs worker<br /><hr class="hrp">
                Integration facilitator<br /><hr class="hrp">
                Counsellors<br /><hr class="hrp">
                Community support workers
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">MEDIX STUDENT REVIEW - TIFFANY </h1>
        </div>
        <div class="panel-body">
            <div class="videoWrapperProgram">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/1W2eojYP1Hc?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <br />

            <a class="btn btn-small btn-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <h2 class="contentH2">
                    <span class="glyphicon glyphicon-film CgoldBlueBorder"></span>    See Transcript
                </h2>
            </a>
            <div class="collapse" id="collapseExample">
                <div class="well">

                    My name is Tiffany G, I am studying developmental service worker at Medix<br /><br />
                    I am taking that course because I feel very passionate about people who have developed mental disabilities<br /><br />
                    Before I came to Medix I was on long term disability for an injury and I wasn’t really doing much with my life and I wanted to do something different<br /><br />
                    I chose Medix because I had several friends who came to Medix, who recommended it, who thought it would be a perfect match for me<br /><br />
                    When it comes to the externship, I felt that everything I learned in the program as a DSW has really helped me in the field, a lot for the things that I learned in the course really applied to what I was doing on my externship<br /><br />
                    It was a very good head start into getting a career, I felt more comfortable with the people who have disabilities<br /><br />
                    What I enjoy most about the campus is definitely the friendly atmosphere, people coming in and out of the classroom really changes the environment every time it happens<br /><br />
                    I enjoy how close the community is, how everyone works together<br /><br />
                    I believe it is because we all come from different backgrounds, we are all learning to do the same thing, we all have similar goals, we want our education and it is very easy to support each other through that<br /><br />
                    What I like best about my instructors is they are very motivating to achieve your goals, they are very involved, they’re someone who you can come to, talk to and they are there every step of the way when it comes to getting your education<br /><br />
                    In five years I see myself having a career where I see myself helping people who have developmental disabilities<br /><br />
                    If you are undecided about coming to Medix I would talk to one of the administrator people, come take a tour of the school and I would tell them my experience has been absolutely phenomenal here and I would definitely recommend they come.


                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                EMPLOYMENT LOCATIONS
            </h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                Where do graduates of the Developmental Service Worker program work?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                Community facilities<br /><hr class="hrp">
                Public and private schools<br /><hr class="hrp">
                Residential facilities<br /><hr class="hrp">
                Private homes<br /><hr class="hrp">
                Educational facilities<br /><hr class="hrp">
                Recreational facilities
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                COMMON JOB TASKS
            </h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                What are common job tasks for individuals working in the Developmental Services field?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                Assisting individuals with physical disabilities.<br /><hr class="hrp">
                Promoting life skills such as personal care, housekeeping, social skills, parenting skills and job placement skills.<br /><hr class="hrp">
                Intervening in crisis situations and resolving issues.<br /><hr class="hrp">
                Administers medication to individuals according to patient orders.
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">

                MEDIX ADVANTAGE
            </h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                Why choose the Developmental Service Worker Program at Medix College?
            </h2>
            <p class="contentp">
                Practical skill-building and a practicum component are used to give students a well-rounded

                understanding of the role of the Developmental Service Worker. During the

                course of this program, students will learn all of the skills and be trained in all the procedures that will

                be required of them in their new careers.

                <br /><br />

                Medix College also provides an employment advantage as we have established relationships with many

                employers in the field. As a result, employers in the field contact us before posting jobs to the general

                public giving current students and graduates of the program an advantage in the hiring process.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">FINANCIAL OPTIONS</h1>
        </div>
        <div class="panel-body">

            <p class="contentp">
                Students looking to start training in this program have a number of options to finance their education. By exploring these options,

                students will be able to gain financial assistance and support as they are training for a career. Some

                financing options available to students include:
            </p>

            <p class="contentpheight">
                <hr class="hrp">
                Ontario Student Assistance Program (OSAP) (if Applicable)<br /><hr class="hrp">
                Ontario Second Career<br /><hr class="hrp">
                Out of Province Options<br /><hr class="hrp">
                Student Lines of Credit<br /><hr class="hrp">
                Lifelone Learning Plan<br /><hr class="hrp">
                RESP<br /><hr class="hrp">
                Employment Ontario<br /><hr class="hrp">
                Monthly Payment Plan
            </p>
            <p class="contentH2"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Financial assistance may be available for those who qualify. Please contact us for more details regarding Financial Assistance.</p><br />


        </div>
    </div>
    <div class="panel panel-default">

        <div class="panel-body">
            <h1 class="contentH1">Follow Us on Social Media</h1><hr class="hrp" />
            <p class="contentp">
                Get the latest news and updates from Medix College and see what campus life is like
            </p>
            <br />
            <a href="https://www.facebook.com/MedixCollege" target="_blank"><img src="~/Content/images/FB-Icon.jpg" height="100" width="100" /></a>&nbsp;
            <a href="https://twitter.com/medix_college" target="_blank"><img src="~/Content/images/TW-Icon.jpg" height="100" width="100" /></a>&nbsp;
            <a href="https://www.instagram.com/medix_college/" target="_blank"><img src="~/Content/images/IG-Icon.jpg" height="100" width="100" /></a>&nbsp;

        </div>
    </div>
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1whitemain text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpgold" />
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">FIRST NAME: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp-light">LAST NAME: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">TELEPHONE: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">EMAIL: <span class="text-danger">*</span></p>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">LOCATION: <span class="text-danger">*</span></p>
                    <select required="" class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                        <option value="">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">PROGRAM: <span class="text-danger">*</span></p>
                    <select required="" class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">
                        
                        <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                        <option class="0 246 243 242 244 241 240" value="">--- Select Other Programs</option>
                        <option class="0 243 241" value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="632">Community Service Worker</option>
                        <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                        <option class="0 246 243 241 240" value="38526">Early Childcare Assistant</option>
                        <option class="0 246 244 241 240" value="37255">Fitness &amp; Health Promotion</option>
                        <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                        <option class="0 246 242 244 241 240" value="629">Massage Therapy</option>
                        <option class="0 246 242 244 241 240" value="41068">Medical Laboratory Technician Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="630">Medical Office Administrator</option>
                        <option class="0 246 243 242 244 241 240" value="631">Personal Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="">--- Certificate Programs</option>
                        <option class="0" value="38882">Anatomy &amp; Physiology</option>
                        <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>
                        <option class="0 246 243 242 244 241 240" value="818">Dental Level 2</option>
                        <option class="0 246 243 242 244 241 240" value="38883">Dental Office Procedures (abel dent)</option>
                        <option class="0 246 243 242 244 241 240" value="642">ECG</option>
                        <option class="0 246 244 241 240" value="39162">Intramuscular Injection</option>
                        <option class="0" value="1170">Medical Terminology</option>
                        <option class="0" value="38887">Medical Transcription</option>
                        <option class="0 246 243 242 244 241 240" value="39415">Mental Health &amp; Addictions</option>
                        <option class="0" value="1169">OHIP Billing</option>
                        <option class="0 246 243 242 244 241 240" value="636">Phlebotomy</option>
                        <option class="0" value="1167">Principles of Nutrition</option>
                        <option class="0 246 243 242 244 241 240" value="643">PSW Upgrading</option>
                        <option class="0" value="1171">Thought Patterns</option>
                        <option class="0" value="41065">Birth Doula Workshop</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">QUESTION: </p>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center contentp-light">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">AVAILABILITY</h1>
        </div>
        <div class="panel-body">

            <p class="contentpheight">
                Brantford<br /><hr class="hrp">
                Kitchener<br /><hr class="hrp">
                Toronto
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">ADMISSIONS REQUIREMENTS</h1>
        </div>
        <div class="panel-body">

            Gr.12 OSSD/High School Graduate or Mature Student Status (18 Ontario, 19 out of province)<br /><hr class="hrp">
            Successful completion of entrance evaluation<br /><hr class="hrp">
            Admissions interview

        </div>
    </div>




    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">ADMISSIONS PROCESS</h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                The admissions process for this program is a four part process:
            </h2>
            <h2 class="contentH2">Initial Contact</h2>
            <p class="contentp">
                Contact an admissions representative to schedule an appointment. The admissions representative

                will be able to answer any questions that you might have regarding the program or general

                questions about Medix College.
            </p>

            <h2 class="contentH2">Confidential Interview</h2>
            <p class="contentp">
                An interview will be completed in order to determine if students have the right attitude to be

                successful in the program.
            </p>

            <h2 class="contentH2">Business Affairs Assessment</h2>
            <p class="contentp">
                The business affairs assessment is an appointment to determine if students are eligible for one of

                the many financial aid options.
            </p>

            <h2 class="contentH2">Enrollment</h2>
            <p class="contentp">
                After the financial plan is in place, enrollment is official and students will be able to start classes in

                order to train for an exciting new career.
            </p>
        </div>
    </div>




</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#programCampusList').change(function () {
            var campusId = $('#programCampusList option:selected').val();

            $.each($("#programProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });
    });
</script>
