@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Intra-Oral Dental Assistant Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Intra-Oral Dental Assistant Training Program at Medix College.";
}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">INTRA-ORAL DENTAL ASSISTANT <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
        <li class="active contentp">Intra-Oral Dental Assistant</li>
    </ol>
    <img class="img-responsive" width="100%" src="/Content/images/program-ioda.jpg" alt="dental student working on a client" />
</div>



<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">PROGRAM SUMMARY</h1>
        </div>
        <div class="panel-body">
            <p class="contentp">
                The Intra-Oral Dental Assistant program at Medix College provides training for individuals looking for a

                rewarding career working in an oral healthcare setting. Intra-Oral Dental Assistants help dentists during

                examinations and treatments. They also provide direct client care, educate clients on the importance of

                oral health and perform basic laboratory duties and manage client records.

            </p>

        </div>
    </div>




    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                EMPLOYMENT TYPES
            </h1>

        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                What career opportunities are available to graduates from the Intra-Oral Dental Assistant program?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                Intra-Oral Dental Assistant<br /><hr class="hrp">
                Dental Assistant/Administrator<br /><hr class="hrp">
                Dental Office Assistant<br /><hr class="hrp">
                Preventative Dental Assistant<br /><hr class="hrp">
                Dental Assistant/ Receptionist
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">MEDIX STUDENT REVIEW - MICHELLE </h1>
        </div>
        <div class="panel-body">
            <div class="videoWrapperProgram">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/-edXQ1IN0pI?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <br />

            <a class="btn btn-small btn-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <h2 class="contentH2">
                    <span class="glyphicon glyphicon-film CgoldBlueBorder"></span>    See Transcript
                </h2>
            </a>
            <div class="collapse" id="collapseExample">
                <div class="well">

                    My name is Michelle B, and I study IODA which is Intra-Oral Dental Assistant<br /><br />
                    I am taking the course because I want a career<br /><br />
                    Before I came to Medix, I was bartending, and (it was) it was horrible, long hours, late hours<br /><br />
                    I came to Medix because I heard about it from a friend and she got me really pumped up to go<br /><br />
                    I love working in the lab, (it’s really) it’s awesome, it’s straight forward, it’s down to earth<br /><br />
                    You will be dealing with the ultrasonic, the Lisa, You’ll have actually real X-Ray machines to be using to take radio graphs<br /><br />
                    An externship is pretty much like a real coop, so you need a certain amount of hours, you go out into the dental office<br /><br />
                    You have a chance to practice, they get you prepared and it’s a great experience to learn<br /><br />
                    We use Dexters, they are really cool. You get a lot of practice before you practice on real people so you are comfortable before your patient comes in<br /><br />
                    What I like best about the campus is that you walk in here comfortable right away. <br /><br />
                    And go right into your classroom, sit down and you’re ready to go<br /><br />
                    We have one instructor and she is very knowledgeable, She’ll tell you how it’s done, how it’s done properly<br /><br />
                    She is very straight forward, she gets to the point and you learn so much from her<br /><br />
                    You just absorb so much of her knowledge, She’s awesome<br /><br />
                    My family feels amazing that I went back to school, that I went back to Medix<br /><br />
                    They’re so happy for me to be able to get a career to better my life<br /><br />
                    What I would tell someone who is un-decisive about coming to Medix is to just do it<br /><br />
                    Honestly you’ll feel great about accomplishing your goal and don’t think about it, just do it<br /><br />
                    What you learn at Medix is what you’ll be doing in real life. It’s an amazing feeling

                   
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                EMPLOYMENT LOCATIONS
            </h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                Where do graduates of the Intra-Oral Dental Assistant program work?
            </h2>
            <p class="contentpheight">
                Dental clinics<br /><hr class="hrp">
                Private practice<br /><hr class="hrp">
                Hospitals<br /><hr class="hrp">
                University clinics<br /><hr class="hrp">
                Dental supply companies<br /><hr class="hrp">
                Public health centres
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                COMMON JOB TASKS
            </h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                What are common job tasks for individuals working in the Intra-Oral Dental Assistant field?
            </h2>
            <p class="contentp">
                Assists the dentist by educating patients and their families regarding dental health
                <br /><hr class="hrp">
                Provide chair support to the dentist
                <br /><hr class="hrp">
                Prepare patients for dental examinations
                <br /><hr class="hrp">
                Sterilize and maintain instruments
                <br /><hr class="hrp">Order dental and office supplies

                <br /><hr class="hrp">
                Perform reception and clerical duties

            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">

                MEDIX ADVANTAGE
            </h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                Why choose the Intra-Oral Dental Assistant Program at Medix College?
            </h2>
            <p class="contentp">
                Practical skill-building and a practicum component are used to give students a well-rounded

                understanding of the role of the Intra-Oral Dental Assistant. During the

                course of this program, students will learn all of the skills and be trained in all the procedures that will

                be required of them in their new careers.

                <br /><br />

                As a mandatory component of our programs, all Medix students are required to complete an off-site

                externship placement. Placements occur at various locations throughout the college's area. This essential

                module allows students to exercise the skills learned in class & clinic, learn specific applications and to

                further enhance their learning experience in the selected facilities.

                <br /><br />

                Medix College also provides an employment advantage as we have established relationships with many

                employers in the field. As a result, employers in the field contact us before posting jobs to the general

                public giving current students and graduates of the program an advantage in the hiring process.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">FINANCIAL OPTIONS</h1>
        </div>
        <div class="panel-body">

            <p class="contentp">
                Students looking to start training in this program have a number of options to finance their education. By exploring these options,

                students will be able to gain financial assistance and support as they are training for a career. Some

                financing options available to students include:
            </p>

            <p class="contentpheight">
                <hr class="hrp">
                Ontario Student Assistance Program (OSAP) (if Applicable)<br /><hr class="hrp">
                Ontario Second Career<br /><hr class="hrp">
                Out of Province Options<br /><hr class="hrp">
                Student Lines of Credit<br /><hr class="hrp">
                Lifelone Learning Plan<br /><hr class="hrp">
                RESP<br /><hr class="hrp">
                Employment Ontario<br /><hr class="hrp">
                Monthly Payment Plan
            </p>
            <p class="contentH2"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Financial assistance may be available for those who qualify. Please contact us for more details regarding Financial Assistance.</p><br />


        </div>
    </div>

    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1whitemain text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpgold" />
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">FIRST NAME: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">TELEPHONE: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">EMAIL: <span class="text-danger">*</span></p>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">LOCATION: <span class="text-danger">*</span></p>
                    <select class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                        <option value="0">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">PROGRAM: <span class="text-danger">*</span></p>
                    <select class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">
                        <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                        <option class="0 246 243 242 244 241 240" value="0">--- Select Other Programs</option>
                        <option class="0 243 241" value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="632">Community Service Worker</option>
                        <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                        <option class="0 246 243 241 240" value="38526">Early Childcare Assistant</option>
                        <option class="0 246 244 241 240" value="37255">Fitness &amp; Health Promotion</option>
                        <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                        <option class="0 246 242 244 241 240" value="629">Massage Therapy</option>
                        <option class="0 246 242 244 241 240" value="633">Medical Laboratory Assistant / Technician</option>
                        <option class="0 246 243 242 244 241 240" value="630">Medical Office Administrator</option>
                        <option class="0 246 243 242 244 241 240" value="631">Personal Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="0">--- Certificate Programs</option>
                        <option class="0" value="38882">Anatomy &amp; Physiology</option>
                        <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>
                        <option class="0 246 243 242 244 241 240" value="818">Dental Level 2</option>
                        <option class="0 246 243 242 244 241 240" value="38883">Dental Office Procedures (abel dent)</option>
                        <option class="0 246 243 242 244 241 240" value="642">ECG</option>
                        <option class="0 246 244 241 240" value="39162">Intramuscular Injection</option>
                        <option class="0" value="1170">Medical Terminology</option>
                        <option class="0" value="38887">Medical Transcription</option>
                        <option class="0 246 243 242 244 241 240" value="39415">Mental Health &amp; Addictions</option>
                        <option class="0" value="1169">OHIP Billing</option>
                        <option class="0 246 243 242 244 241 240" value="636">Phlebotomy</option>
                        <option class="0" value="1167">Principles of Nutrition</option>
                        <option class="0 246 243 242 244 241 240" value="643">PSW Upgrading</option>
                        <option class="0" value="1171">Thought Patterns</option>
                        <option class="0" value="41065">Birth Doula Workshop</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">QUESTION: </p>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center contentp-light">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">AVAILABILITY</h1>
        </div>
        <div class="panel-body">

            <p class="contentpheight">
                Brampton<br /><hr class="hrp">
                Brantford<br /><hr class="hrp">
                Kitchener<br /><hr class="hrp">
                London<br /><hr class="hrp">
                Scarborough<br /><hr class="hrp">
                Toronto
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">ADMISSIONS REQUIREMENTS</h1>
        </div>
        <div class="panel-body">

            Gr.12 OSSD/High School Graduate or Mature Student Status (18 Ontario, 19 out of province)<br /><hr class="hrp">
            Successful completion of entrance evaluation<br /><hr class="hrp">
            Admissions interview

        </div>
    </div>




    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">ADMISSIONS PROCESS</h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                The admissions process for this program is a four part process:
            </h2>
            <h2 class="contentH2">Initial Contact</h2>
            <p class="contentp">
                Contact an admissions representative to schedule an appointment. The admissions representative

                will be able to answer any questions that you might have regarding the program or general

                questions about Medix College.
            </p>

            <h2 class="contentH2">Confidential Interview</h2>
            <p class="contentp">
                An interview will be completed in order to determine if students have the right attitude to be

                successful in the program.
            </p>

            <h2 class="contentH2">Business Affairs Assessment</h2>
            <p class="contentp">
                The business affairs assessment is an appointment to determine if students are eligible for one of

                the many financial aid options.
            </p>

            <h2 class="contentH2">Enrollment</h2>
            <p class="contentp">
                After the financial plan is in place, enrollment is official and students will be able to start classes in

                order to train for an exciting new career.
            </p>
        </div>
    </div>



</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#programCampusList').change(function () {
            var campusId = $('#programCampusList option:selected').val();

            $.each($("#programProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });
    });
</script>
