@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Medical Lab Technician Assistant Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about the Medical Lab Technician Assistant Training Program at Medix College.";
}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">MEDICAL LAB TECHNICIAN / ASSISTANT <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
        <li class="active contentp">Medical Lab Technician / Assistant Program</li>
    </ol>

    <img class="img-responsive" width="100%" src="/Content/images/program-mlta2.jpg" alt="medical lab students working in the full scale facility" />

</div>



<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">PROGRAM SUMMARY</h1>
        </div>
        <div class="panel-body">
            <p class="contentp">
                The objective of the Medical Laboratory Technician / Assistant is to provide graduates with the skills and knowledge that enable them to qualify for entry-level positions as a medical laboratory technician assistant. The program trains students to collect, process, and prepare patient specimens, enter data, perform clerical and reception services, perform electrocardiograms and urinalyses and carry out basic laboratory procedures.

                <br /><br />

                Upon successful completion of the MLTA diploma program, graduates are qualified to write a third party examination and achieve their “Certified Lab Assistant” designation through the Canadian Society for Medical Laboratory Science (CSMLS) as well as the Ontario Society of Medical Technologists (OSMT). All examinations are at the option and expense of the graduate and Medix encourages students to become certified.
               
                 <br /><br />

                As of 2017, the MLTA program is accredited by the Canadian Medical Association at the Toronto Campus. 

            </p>
        </div>
    </div>

<!--

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="contentH1">WHY IS ACCREDITATION IMPORTANT</h1>
            </div>
            <div class="panel-body">
                <p class="contentp">
                    <h2 class="contentH2">
                        WHAT IS ACCREDITATION?
                    </h2>
                    Accreditation is the public recognition that an educational program has met national standards. The goal is to ensure that programs enable their students to acquire the knowledge, skills and attitudes to function as competent health practitioners for the benefit of all Canadians. The Canadian Medical Association (CMA) is the conjoint accrediting body for the Medical Laboratory Technician/ Assistant Program. The conjoint accreditation process benefits all Canadians as well as specific groups within health care and education.
                    <br /><br />
                    <h2 class="contentH2">
                        WHAT IS CMA?
                    </h2>
                    The CMA is a national, voluntary association of physicians and physicians-in-training. The CMA is a leader in engaging and serving physicians and is the national voice for the highest standards of health and health care. The CMA also provides leadership guidance to physician, wealth management advice and knowledge products and services through its subsidiaries, MD Financial Management and JouleTM, respectively.
                    <br /><br />
                    <h2 class="contentH2">
                        WHO BENEFITS FROM THE CONJOINT ACCREDITATION PROCESS?
                    </h2>
                    The conjoint accreditation process benefits all Canadians as well as specific groups within health care and education.
                    <br /><br />
                    <h2 class="contentH2">
                        Public:
                    </h2>
                    Quality Health Care provided by competent professionals.
                    <br /><br />
                    <h2 class="contentH2">
                        Professionals:
                    </h2>
                    Physicians and employers benefit from the assurance that diagnostic and therapeutic services are provided by personnel who have attained the competencies required for high quality patient care.
                    <br /><br />
                    <h2 class="contentH2">
                        Students:
                    </h2>
                    Students benefit from the assurance that their education has met national standards. They also gain access to the national professional certification process that gives them a credential with national portability.
                    <br /><br />
                    <h2 class="contentH2">
                        Others:
                    </h2>
                    Licensing bodies and Faculty.

                    <br /><br />
                    <br />


                    <h2 class="contentH2">
                        WHAT IS OSMT?
                    </h2>

                    The Ontario Society of Medical Technologists (OSMT) is the voice of the Medical Laboratory Technologists and Medical Laboratory Assistants/Technicians throughout Ontario. The OSMT represents the common interests of all Medical Laboratory Technologists and Assistants/Technicians in the province of Ontario.
                    Founded in 1963, the OSMT is a member driven, non-profit Society, governed by a Board of Directors, aided by an Executive Director and office staff. OSMT representatives are active volunteers from the OSMT membership, who organize, provide leadership and serve as advocates of the profession in our rapidly changing social and political environment.
                    The OSMT leads its membership in presenting and promoting a professional image to government, employers, the public, educational institutions, business and to other health care professions.

                    <br /><br />
                    <br /><h2 class="contentH2">
                        WHY SHOULD YOU BECOME AN OSMT CERTIFIED MLA/T?
                    </h2>

                    <ul>

                        <li>
                            Increase employment opportunities
                            (MLA/T Certification)</li>
                        <li>
                            To stay informed, stay current
                        </li>
                     
                        <li>
                            affirm sense of pride in being a laboratory professional
                        </li>
                        <li>
                            To access continuing education and professional development (QA requirements)
                        </li>
                        <li>
                           Enjoy benefits
                            (liability insurance, affinity programs)
                        </li>
                        <li>
                           To strengthen the collective voice of laboratory professionals
                        </li>
                        <li>
                            To participate and make a difference
                            (leadership and skill building opportunities)
                        </li>
                   
</ul>

                            <br /><br />
                            <br /><h2 class="contentH2">
                                WHAT IS CSMLS?
                            </h2>

                            The Canadian Society for Medical Laboratory Science (CSMLS) is the national certifying body for medical laboratory technologists and medical laboratory assistants, and the national professional society for Canada's medical laboratory professionals.  CSMLS is a not-for-profit organization that is funded entirely by membership dues and revenues from goods and services.
                    <br/><br/>
                            As the national professional society, Canadian Society for Medical Laboratory Science (CSMLS) functions with the professional in mind.  CSMLS provide education, volunteer opportunities and professional development that you need to meet the regulatory college requirements. CSMLS also advocate on your behalf to government and other health care groups.
                            The CSMLS also offers networking and learning opportunities through conferences and online discussion forums.  CSMLS foster the community spirit of the profession while providing industry news, grants and scholarships, career advice, job listings and the quarterly publication, the Canadian Journal of Medical Laboratory Science.
                            Members of the CSMLS also get access to exclusive savings with our national discount partners. These discounts can save you money on home and auto insurance, gym memberships and home security, just to name a few.


                            <br /><br />
                            <br /><h2 class="contentH2">
                                WHY SHOULD YOU BECOME A CSMLS CERTIFIED MLA/T?
                            </h2>

                            <ul>

                                <li>
                                    Professional Liability Insurance for just pennies a day.<br />
                                    -CSMLS provides two programs in one: Professional Liability (malpractice) and Legal Defence (disciplinary hearings and criminal proceedings).
                                </li>

                                <li>
                                    CSMLS saves you money<br />
                                    -10 free courses each year (changed at the beginning of each year)<br />
                                    -Discounts on continuing education and professional development<br />
                                    -Savings with Discount Partners<br />
                                    -Member rates for LABCON<br />
                                    -Access to grants and scholarships
                                </li>
                                <li>
                                    CSMLS helps you enrich your career<br />
                                    -National job postings<br />
                                    -Labor market data<br />
                                    -Career tips and information<br />
                                    -National and international volunteer opportunities<br />
                                    -Variety of recognition awards available
                                </li>
                                <li>
                                    CSMLS connects you to the Industry<br />
                                    -Bi-weekly eNEWS<br />
                                    -Quarterly CJMLS magazine<br />
                                    -Communities online forum<br />
                                    -Access to laboratory standards and reference materials (Loan Library)
                                </li>
                            </ul>
                </p>
            </div>
        </div>

-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="contentH1">
                    EMPLOYMENT TYPES
                </h1>

            </div>
            <div class="panel-body">
                <h2 class="contentH2">
                    What career opportunities are available to graduates of the Medical Lab Technician / Assistant program?
                </h2>
                <p class="contentp">
                    <hr class="hrp">
                    Medical laboratory assistant<br /><hr class="hrp">
                    Laboratory assistant<br /><hr class="hrp">
                    Medical laboratory technician<br /><hr class="hrp">
                    Phlebotomy technicians<br /><hr class="hrp">
                    Patient services assistants
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="contentH1">MEDIX COLLEGE REVIEW - ISABEL </h1>
            </div>
            <div class="panel-body">
                <div class="videoWrapperProgram">
                    <iframe width="560" height="349" src="https://www.youtube.com/embed/Gf7y5DdUfPI?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <br />

                <a class="btn btn-small btn-default" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                    <h2 class="contentH2">
                        <span class="glyphicon glyphicon-film CgoldBlueBorder"></span>    See Transcript
                    </h2>
                </a>
                <div class="collapse" id="collapseExample1">
                    <div class="well">
                        "I wanted to have a career in the medical field, and the campus was quite close to home, so it just was a right fit.<br /><br />

                        What I like best about the campus is the class size. I'm in the afternoon program, it's small, it's more intimate, so you get to know your classmates a bit better.<br /><br />

                        My instructor is extremely knowledgeable. I like that she can take that knowledge and relay it back to us. She has a lot of experience in the workforce, and she's able to bring it back to the classroom setting, which is really valuable for us.<br /><br />

                        I have school aged children, so it's a bit of a health competition when Momma brings home a 98% or something on her exam, then we kind of compare that with each other, it's a great supportive atmosphere.<br /><br />

                        To me, when I think of Medix College I think of success.<br /><br />

                        I know I'm going to do well, I'm going to graduate, and I'm going to get that perfect job.”
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="contentH1">
                    EMPLOYMENT LOCATIONS
                </h1>
            </div>
            <div class="panel-body">
                <h2 class="contentH2">
                    Where do graduates of the Medical Lab Technician / Assistant Program work?
                </h2>
                <p class="contentp">
                    <hr class="hrp">
                    Medical laboratories<br /><hr class="hrp">
                    Hospitals<br /><hr class="hrp">
                    Research laboratories<br /><hr class="hrp">
                    Doctor’s offices<br /><hr class="hrp">
                    Blood Donor Testing Centres<br /><hr class="hrp">
                    Medical laboratories<br /><hr class="hrp">
                    Veterinary laboratories
                </p>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="contentH1">
                    COMMON JOB TASKS
                </h1>
            </div>
            <div class="panel-body">
                <h2 class="contentH2">
                    What are common job tasks for individuals working in the Medical Lab Assistant / Technician field?
                </h2>
                <p class="contentp">
                    Participate as an important member of the laboratory team.
                    <br /><hr class="hrp">
                    Provide patient reception and documentation.
                    <br /><hr class="hrp">
                    Use correct techniques to safely collect blood specimens.
                    <br /><hr class="hrp">
                    Appropriately handle and distribute specimens to be analyzed by other members of the laboratory team
                    <br /><hr class="hrp">
                    Maintain a safe working environment<br /><hr class="hrp">
                    Perform electrocardiograms (ECG’s), applying an understanding of heart activity and heart electrical conductivity


                </p>
            </div>
        </div>




        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="contentH1">

                    MEDIX ADVANTAGE
                </h1>
            </div>
            <div class="panel-body">
                <h2 class="contentH2">
                    Why choose the Medical Lab Assistant / Technician Program at Medix College?
                </h2>
                <p class="contentp">
                    Practical skill-building and a practicum component are used to give students a well-rounded

                    understanding of the role of the Medical Lab Assistant / Technician. During the

                    course of this program, students will learn all of the skills and be trained in all the procedures that will

                    be required of them in their new careers.

                    <br /><br />

                    As a mandatory component of our programs, all Medix students are required to complete an off- site

                    externship placement. Placements occur at various locations throughout the College's area. This

                    essential module allows students to exercise the skills learned in class, learn specific applications

                    and to further enhance their learning experience in the selected facilities.

                    <br /><br />

                    Medix College also provides an employment advantage as we have established relationships with many

                    employers in the field. As a result, employers in the field contact us before posting jobs to the general

                    public giving current students and graduates of the program an advantage in the hiring process.
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="contentH1">FINANCIAL OPTIONS</h1>
            </div>
            <div class="panel-body">

                <p class="contentp">
                    Students looking to start training in this program have a number of options to finance their education. By exploring these options,

                    students will be able to gain financial assistance and support as they are training for a career. Some

                    financing options available to students include:
                </p>

                <p class="contentpheight">
                    <hr class="hrp">
                    Ontario Student Assistance Program (OSAP) (if Applicable)<br /><hr class="hrp">
                    Ontario Second Career<br /><hr class="hrp">
                    Out of Province Options<br /><hr class="hrp">
                    Student Lines of Credit<br /><hr class="hrp">
                    Lifelone Learning Plan<br /><hr class="hrp">
                    RESP<br /><hr class="hrp">
                    Employment Ontario<br /><hr class="hrp">
                    Monthly Payment Plan
                </p>
                <p class="contentH2"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Financial assistance may be available for those who qualify. Please contact us for more details regarding Financial Assistance.</p><br />


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="contentH1">MEDIX COLLEGE REVIEW - JULIE </h1>
            </div>
            <div class="panel-body">
                <div class="videoWrapperProgram">
                    <iframe width="560" height="349" src="https://www.youtube.com/embed/lK7-VbtSDfA?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <br />

                <a class="btn btn-small btn-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <h2 class="contentH2">
                        <span class="glyphicon glyphicon-film CgoldBlueBorder"></span>    See Transcript
                    </h2>
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="well">
                        "Medix prepared me for my field by giving me the hands-on training. I got lots of lab experience.  Working on other students, it wasn't all just theory, there was a lot of hands on.<br /><br />

                        I had a very knowledgeable instructor who worked with everybody and was always there to help. Mornings, evenings, weekends, and then with a great placement that gave me all my hands on training, exactly what I was studying for.<br /><br />

                        It was easy to find work after graduation, I was placed at a really good placement where I got lots of hands on skills and knowledge which helped me on my resume to get a job right away.”
                    </div>
                </div>
            </div>
        </div>



        <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
        <br />
        <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
        <br />
    </div>

<div class="col-sm-4 pull-right no-padding">

    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1whitemain text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpgold" />
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">FIRST NAME: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp-light">LAST NAME: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">TELEPHONE: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">EMAIL: <span class="text-danger">*</span></p>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">LOCATION: <span class="text-danger">*</span></p>
                    <select required="" class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                        <option value="">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">PROGRAM: <span class="text-danger">*</span></p>
                    <select required="" class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">
                        <option class="0 246 243 242 244 241 240" value="">Select</option>
                        <option class="0 246 242 244 241 240" value="41068">Medical Laboratory Technician Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="">--- Select Other Programs</option>                        
                        <option class="0 243 241" value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="632">Community Service Worker</option>                                                
                        <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                        <option class="0 246 243 241 240" value="38526">Early Childcare Assistant</option>                       
                        <option class="0 246 244 241 240" value="37255">Fitness &amp; Health Promotion</option>                      
                        <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                        <option class="0 246 242 244 241 240" value="629">Massage Therapy</option>
                        <option class="0 246 242 244 241 240" value="633">Medical Laboratory Assistant / Technician</option>
                        <option class="0 246 243 242 244 241 240" value="630">Medical Office Administrator</option>
                        <option class="0 246 243 242 244 241 240" value="631">Personal Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="">--- Certificate Programs</option>  
                        <option class="0" value="38882">Anatomy &amp; Physiology</option>
                        <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>
                        <option class="0 246 243 242 244 241 240" value="818">Dental Level 2</option>
                        <option class="0 246 243 242 244 241 240" value="38883">Dental Office Procedures (abel dent)</option>
                        <option class="0 246 243 242 244 241 240" value="642">ECG</option>
                        <option class="0 246 244 241 240" value="39162">Intramuscular Injection</option>
                        <option class="0" value="1170">Medical Terminology</option>
                        <option class="0" value="38887">Medical Transcription</option>
                        <option class="0 246 243 242 244 241 240" value="39415">Mental Health &amp; Addictions</option>
                        <option class="0" value="1169">OHIP Billing</option>                     
                        <option class="0 246 243 242 244 241 240" value="636">Phlebotomy</option>
                        <option class="0" value="1167">Principles of Nutrition</option>
                        <option class="0 246 243 242 244 241 240" value="643">PSW Upgrading</option>
                        <option class="0" value="1171">Thought Patterns</option>
                        <option class="0" value="41065">Birth Doula Workshop</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">QUESTION: </p>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center contentp-light">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">AVAILABILITY</h1>
        </div>
        <div class="panel-body">

            <p class="contentpheight">
                Brampton<br /><hr class="hrp">
                Kitchener<br /><hr class="hrp">
                London<br /><hr class="hrp">
                Scarborough<br /><hr class="hrp">
                Toronto
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">ADMISSIONS REQUIREMENTS</h1>
        </div>
        <div class="panel-body">
            
               Gr.12 OSSD/High School Graduate or Mature Student Status (18 Ontario, 19 out of province)<br /><hr class="hrp">
               Successful completion of entrance evaluation<br /><hr class="hrp">
               Admissions interview
          
        </div>
    </div>


    

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">ADMISSIONS PROCESS</h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                The admissions process for this program is a four part process:
            </h2>
            <h2 class="contentH2">Initial Contact</h2>
            <p class="contentp">
                Contact an admissions representative to schedule an appointment. The admissions representative

                will be able to answer any questions that you might have regarding the program or general

                questions about Medix College.
            </p>

            <h2 class="contentH2">Confidential Interview</h2>
            <p class="contentp">
                An interview will be completed in order to determine if students have the right attitude to be

                successful in the program.
            </p>

            <h2 class="contentH2">Business Affairs Assessment</h2>
            <p class="contentp">
                The business affairs assessment is an appointment to determine if students are eligible for one of

                the many financial aid options.
            </p>

            <h2 class="contentH2">Enrollment</h2>
            <p class="contentp">
                After the financial plan is in place, enrollment is official and students will be able to start classes in

                order to train for an exciting new career.
            </p>
        </div>
    </div>


    <br />




</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#programCampusList').change(function () {
            var campusId = $('#programCampusList option:selected').val();

            $.each($("#programProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });
    });
</script>
