@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Pharmacy Assistant Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Pharmacy Assistant Training Program at Medix College.";
}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">PHARMACY ASSISTANT <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
        <li class="active contentp">Pharmacy Assistant</li>
    </ol>
    <img class="img-responsive" width="100%" src="/Content/images/program-pa2.jpg" alt="medix pharmacy assistant students practicing their skills" />

</div>



<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">PROGRAM SUMMARY</h1>
        </div>
        <div class="panel-body">
            <p class="contentp">
                The Pharmacy Assistant Diploma Program at Medix College provides training for individuals looking for a

                rewarding career working in entry-level positions in a pharmacy or pharmacy retail company.

                <br /><br />

                The objective of the Pharmacy Assistant Program is to provide graduates with the skills and knowledge

                that will enable them to qualify for entry-level positions. Our graduates have been successful securing

                employment in a variety of pharmaceutical organizations. Usually Pharmacy Assistants work in entry

                level positions at pharmacy retail companies. They work under the supervision of the pharmacy

                technician or Pharmacist. Some of the responsibilities include ordering and receiving the inventory,

                filling prescriptions, receiving shipments and handling paperwork.

            </p>
        </div>
    </div>





    


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                EMPLOYMENT TYPES
            </h1>

        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                What career opportunities are available to graduates of the Pharmacy Assistant program?
            </h2>
            <p class="contentp">
                <hr class="hrp">
                Pharmacy assistant<br /><hr class="hrp">
                Data assistant<br /><hr class="hrp">
                Dispensary assistant<br /><hr class="hrp">
                Pharmacist assistant<br /><hr class="hrp">
                Pharmacy technical assistant
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">MEDIX COLLEGE REVIEW - KENDRA </h1>
        </div>
        <div class="panel-body">
            <div class="videoWrapperProgram">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/XHp9oNX4cZI?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <br />

            <a class="btn btn-small btn-default" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                <h2 class="contentH2">
                    <span class="glyphicon glyphicon-film CgoldBlueBorder"></span>    See Transcript
                </h2>
            </a>
            <div class="collapse" id="collapseExample1">
                <div class="well">
                    
                    "I chose Medix because I wanted a change in career. I wanted something I could do in a short period of time, that I could work and still take care of my son. <br /><br />

                    I also wanted the smaller class sizes, to make it easier for me to learn and excel in whatever I do.<br /><br />

                    I really love the location because it's easily accessible. I also love the class because it's a small size.<br /><br />

                    There's a better student to teacher ratio, you could understand anything unlike if it came from a larger post secondary education, where I know that when you need to speak to someone you have to book an appointment.<br /><br />

                    Here at Medix, you can just drop in and speak to anyone. They'll guide you along the way, help you select the proper goals, and guide you along the path you want to choose.<br /><br />

                    Here it was easy, you just walk in, speak to anyone, and they all just got along. The staff are phenomenal.<br /><br />

                    Medix means everything to me. The fact that you were just able to be yourself, it helps you to become the person you want to be.<br /><br />

                    They wanted the best for you. They'd sit you down, give you the right advice, and always sit you with a councilor; there is always someone there to direct you.<br /><br />

                    The fact that you can get a career in less then a year, you can establish yourself and become somebody.<br /><br />

                    Not only did they help you in whatever you're studying, they also gave you the perfect career training advice.<br /><br />

                    They would show you how to survive and handle the work environment, and also to stay relevant."

                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                EMPLOYMENT LOCATIONS
            </h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                Where do graduates of the Pharmacy Assistant program work?
            </h2>
            <p class="contentp">
                <hr class="hrp">
                Hospitals
                <br /><hr class="hrp">
                Retail pharmacies<br /><hr class="hrp">
                Home health care facilities<br /><hr class="hrp">
                Community pharmacies<br /><hr class="hrp">
                Long-term care facilities<br /><hr class="hrp">
                Public health service
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                COMMON JOB TASKS
            </h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                What are common job tasks for individuals working in the Pharmacy Assistant field?
            </h2>
            <p class="contentp">
                <hr class="hrp">
                Ordering and receiving the inventory
                <br /><hr class="hrp">
                Filling prescriptions<br /><hr class="hrp">
                Receiving shipments and handling paperwork<br /><hr class="hrp">
                Package and label pharmaceutical products<br /><hr class="hrp">
                Maintain prescription records and inventories of medications
            </p>
        </div>
    </div>




    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">

                MEDIX ADVANTAGE
            </h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                Why choose the Pharmacy Assistant Program at Medix College?
            </h2>
            <p class="contentp">
                Practical skill-building and a practicum component are used to give students a well-rounded

                understanding of the role of the Pharmacy Assistant. During the

                course of this program, students will learn all of the skills and be trained in all the procedures that will

                be required of them in their new careers.

                <br /><br />

                As a mandatory component of our programs, all Medix students are required to complete an

                off-site externship placement. Placements occur at various locations throughout the college's

                area. This essential module allows students to exercise the skills learned in class, learn specific

                applications and to further enhance their learning experience in the pharmacy setting.

                <br /><br />

                Medix College also provides an employment advantage as we have established relationships with many

                employers in the field. As a result, employers in the field contact us before posting jobs to the general

                public giving current students and graduates of the program an advantage in the hiring process.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">FINANCIAL OPTIONS</h1>
        </div>
        <div class="panel-body">

            <p class="contentp">
                Students looking to start training in this program have a number of options to finance their education. By exploring these options,

                students will be able to gain financial assistance and support as they are training for a career. Some

                financing options available to students include:
            </p>

            <p class="contentpheight">
                <hr class="hrp">
                Ontario Student Assistance Program (OSAP) (if Applicable)<br /><hr class="hrp">
                Ontario Second Career<br /><hr class="hrp">
                Out of Province Options<br /><hr class="hrp">
                Student Lines of Credit<br /><hr class="hrp">
                Lifelone Learning Plan<br /><hr class="hrp">
                RESP<br /><hr class="hrp">
                Employment Ontario<br /><hr class="hrp">
                Monthly Payment Plan
            </p>
            <p class="contentH2"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Financial assistance may be available for those who qualify. Please contact us for more details regarding Financial Assistance.</p><br />


        </div>
    </div>

    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1whitemain text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpgold" />
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">FIRST NAME: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">TELEPHONE: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">EMAIL: <span class="text-danger">*</span></p>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">LOCATION: <span class="text-danger">*</span></p>
                    <select class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                        <option value="0">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">PROGRAM: <span class="text-danger">*</span></p>
                    <select class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">
                        <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                                                <option class="0 246 243 242 244 241 240" value="0">--- Select Other Programs</option>
                        <option class="0 243 241" value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="632">Community Service Worker</option>
                        <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                        <option class="0 246 243 241 240" value="38526">Early Childcare Assistant</option>
                        <option class="0 246 244 241 240" value="37255">Fitness &amp; Health Promotion</option>
                        <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                        <option class="0 246 242 244 241 240" value="629">Massage Therapy</option>
                        <option class="0 246 242 244 241 240" value="41068">Medical Laboratory Technician Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="630">Medical Office Administrator</option>
                        <option class="0 246 243 242 244 241 240" value="631">Personal Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="0">--- Certificate Programs</option>
                        <option class="0" value="38882">Anatomy &amp; Physiology</option>
                        <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>
                        <option class="0 246 243 242 244 241 240" value="818">Dental Level 2</option>
                        <option class="0 246 243 242 244 241 240" value="38883">Dental Office Procedures (abel dent)</option>
                        <option class="0 246 243 242 244 241 240" value="642">ECG</option>
                        <option class="0 246 244 241 240" value="39162">Intramuscular Injection</option>
                        <option class="0" value="1170">Medical Terminology</option>
                        <option class="0" value="38887">Medical Transcription</option>
                        <option class="0 246 243 242 244 241 240" value="39415">Mental Health &amp; Addictions</option>
                        <option class="0" value="1169">OHIP Billing</option>
                        <option class="0 246 243 242 244 241 240" value="636">Phlebotomy</option>
                        <option class="0" value="1167">Principles of Nutrition</option>
                        <option class="0 246 243 242 244 241 240" value="643">PSW Upgrading</option>
                        <option class="0" value="1171">Thought Patterns</option>
                        <option class="0" value="41065">Birth Doula Workshop</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">QUESTION: </p>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center contentp-light">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">AVAILABILITY</h1>
        </div>
        <div class="panel-body">

            <p class="contentpheight">
                Brampton<br /><hr class="hrp">
                Brantford<br /><hr class="hrp">
                Kitchener<br /><hr class="hrp">
                London<br /><hr class="hrp">
                Scarborough<br /><hr class="hrp">
                Toronto
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">ADMISSIONS REQUIREMENTS</h1>
        </div>
        <div class="panel-body">

            Gr.12 OSSD/High School Graduate or Mature Student Status (18 Ontario, 19 out of province)<br /><hr class="hrp">
            Successful completion of entrance evaluation<br /><hr class="hrp">
            Admissions interview

        </div>
    </div>




    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">ADMISSIONS PROCESS</h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                The admissions process for this program is a four part process:
            </h2>
            <h2 class="contentH2">Initial Contact</h2>
            <p class="contentp">
                Contact an admissions representative to schedule an appointment. The admissions representative

                will be able to answer any questions that you might have regarding the program or general

                questions about Medix College.
            </p>

            <h2 class="contentH2">Confidential Interview</h2>
            <p class="contentp">
                An interview will be completed in order to determine if students have the right attitude to be

                successful in the program.
            </p>

            <h2 class="contentH2">Business Affairs Assessment</h2>
            <p class="contentp">
                The business affairs assessment is an appointment to determine if students are eligible for one of

                the many financial aid options.
            </p>

            <h2 class="contentH2">Enrollment</h2>
            <p class="contentp">
                After the financial plan is in place, enrollment is official and students will be able to start classes in

                order to train for an exciting new career.
            </p>
        </div>
    </div>
    <br />
    <!-- Medix Body VAA Panel -->
    <div class="panel panel-default hidden-lg hidden-md">
        <div class="panel-heading">
            <h1 class="contentH1">Are You Career Training Ready? Find Out!</h1>
        </div>
        <div class="panel-body">
            <h1 class="contentH1"><a href="http://medix.virtualadmissions.com/?lead_src=w-body" target="_blank">Take the Medix Readiness Quiz Now!</a></h1></br>

            <a href="http://medix.virtualadmissions.com/?lead_src=w-body" target="_blank"><img class="img-responsive" src="~/Content/images/vaa.png" width="100%" /></a>
            <br />
            <p class="contentp">The fun, online quiz takes 3-minutes to complete and you will get a personalized report. Identify your strengths and social style plus the training and positions you are best suited for.</p>
            <a href="http://medix.virtualadmissions.com/?lead_src=w-body" target="_blank">Get Your Career Training Readiness score now</a>.
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#programCampusList').change(function () {
            var campusId = $('#programCampusList option:selected').val();

            $.each($("#programProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });
    });
</script>
