@{
    Layout = "~/Views/Courses/_CoursesLayout.cshtml";
}

@{
    ViewBag.Title = "Rehabilitation Physiotherapist Assistant Diploma Program - Medix College";
    ViewBag.PageDescription = "Learn more about the Rehabilitation Physiotherapist Assistant Diploma Program Training Program at Medix College.";
}

<div class="container-fluid">

    <div class="col-lg-12 col-md-12 col-sm-12 landing-top-banner">
        <div class="container col-lg-12 col-md-12 col-sm-12">
            <br />
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="/home"><img src="~/Content/images/white-medix-logo.gif" class="mainLogo img-responsive" alt="Medix College Logo" /></a>
                <br />
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="pull-right hidden-xs"> <h1 class="contentPageH1-white"><span class="glyphicon glyphicon-earphone"></span>&nbsp;1(866) 962-7685</h1></div>

            </div>
        </div>
    </div>
    <!--Start Div-->
    <div class="container col-lg-12 col-md-12 col-sm-12">
        <div class="landing-body col-lg-12 col-md-12 col-sm-12">
            <h1 class="contentPageH1"><span class="landingH1">Become an Early Childcare Assistant</span></h1><hr class="hrpbluethin" />
            
</p>
        </div>



        <div class="clearfix">    </div>

        <div class="landing-body col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-4 col-md-4 col-sm-4 pull-right ">


                <div class="panel panel-default bluePANEL2">

                    <div class="panel-body">
                        <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                            <input type="hidden" name="ORGID" value="240" />
                            <input type="hidden" name="MailListID" value="240001" />
                            <h1 class="contentH1whitemain text-center">
                                <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                            </h1><hr class="hrpgold" />
                           
                            <div class="input-group spacer-top">
                                <p class="pull-left contentp-light">FIRST NAME: <span class="text-danger">*</span></p>
                                <input type="text" class="form-control pull-right" name="FirstName" required="">
                            </div>
                            <div class="input-group spacer-top">
                                <label class="pull-left contentp-light">LAST NAME: <span class="text-danger">*</span></label>
                                <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                            </div>
                            <div class="input-group spacer-top">
                                <p class="pull-left contentp-light">TELEPHONE: <span class="text-danger">*</span></p>
                                <input type="text" class="form-control pull-right" name="Telephone" required="">
                            </div>
                            <div class="input-group spacer-top">
                                <p class="pull-left contentp-light">EMAIL: <span class="text-danger">*</span></p>
                                <input type="email" class="form-control pull-right" name="Email" required="">
                            </div>
                            <div class="input-group spacer-top">
                                <p class="pull-left contentp-light">QUESTION: </p>
                                <textarea class="form-control pull-right" name="Comment2"></textarea>
                            </div>
                            <div class="input-group spacer-top hidden">
                                <p class="pull-left contentp-light hidden">LOCATION: <span class="text-danger">*</span></p>
                                <select required="" class="form-control pull-right" name="CampusID" id="askQuestionCampusList">

                                    <option value="241">Scarborough</option>

                                </select>
                            </div>
                            <div class="input-group spacer-top hidden">
                                <p class="pull-left contentp-light hidden">PROGRAM: <span class="text-danger">*</span></p>
                                <select required="" class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">
                                    <option class="0 246 243 242 244 241 240" value="38526">Early Childcare Assistant</option>

                                </select>
                            </div>
                            <div class="input-group spacer-top hidden">
                                <label class="pull-left">How did you hear about us?: <span class="text-danger">*</span></label>
                                <select required="" class="form-control pull-right" name="MediaGroupID" id="applyNowMediaGroupList" required="">
                                    <option value="90080">ONLINE</option>
                                </select>
                            </div>
                            <div class="input-group spacer-top hidden">
                                <label class="pull-left">Specify: <span class="text-danger">*</span></label>
                                <select required="" class="form-control pull-right" name="MediaID" id="applyNowMediaList" required="">
                                    <option value="11450">Facebook</option>
                                </select>
                            </div>
                            
                            <div class="small-text spacer-top text-center contentp-light">
                                Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                            </div>
                            <div class="text-center">
                                <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                            </div>
                        </form>
                    </div>

                </div>


            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">

                <img class="img-responsive" width="100%" src="/Content/images/program-eca2.jpg" alt="early childcare instructor with Medix students" /><br/>
                <h2 class="contentH2-landing">
                    ABOUT THE PROGRAM
                </h2>

                <p class="contentp">
                    The Early Childcare Assistant program at Medix College provides training for individuals looking for a

                    rewarding career working in the Early Childhood Assistant field. Early Childhood Assistants (under the

                    guidance of the Teacher) provide a safe and nurturing environment for children that encourages their

                    social, emotional, physical and intellectual development through designing and implementing a

                    developmentally appropriate curriculum according to established guidelines.

                    <br /><br />

                    The Early Childcare Assistant program was designed to equip childcare workers with valuable

                    knowledge, skills and experience for employment as Assistants in day care centres or early learning

                    centres. The program was designed to give students an overview of the responsibilities of an early

                    childcare assistant and opportunities to perform those duties. It presents foundational skills needed for

                    those seeking to move into an Early Childhood Educator program. The Program has been developed and

                    accredited by NACC.

                </p>




                <div class="well well-sm">
                    <h2 class="contentH2-landing">
                        CAREER OPPORTUNITIES
                    </h2>

                    <table class="table">

                        <tbody>
                            <tr>
                                <td>Child Care Workers</td>
                                <td>Daycare Supervisors</td>
                            </tr>

                            <tr>
                                <td>Preschool Helpers</td>
                                <td>Early Childhood Educators</td>
                            </tr>

                            <tr>
                                <td>Classroom Assistant</td>
                                <td>Daycare Assistant</td>
                            </tr>

                        </tbody>

                    </table>
                </div>

            </div>

            
            <!--End-->
        </div>



        <!--PAGEend-->
    </div>
    <div class="footer-banner col-lg-12">

        <div class="container">
            <img class="center-block" src="~/Content/images/CCGLogo.png" alt="The Career College Group logo." />
        </div>
    </div>
</div>