@{
    Layout = "~/Views/Courses/_CoursesLayout.cshtml";
}

@{
    ViewBag.Title = "Rehabilitation Physiotherapist Assistant Diploma Program - Medix College";
    ViewBag.PageDescription = "Learn more about the Rehabilitation Physiotherapist Assistant Diploma Program Training Program at Medix College.";
}

<div class="container-fluid">

    <div class="col-lg-12 col-md-12 col-sm-12 landing-top-banner">
        <div class="container col-lg-12 col-md-12 col-sm-12">
            <br />
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="/home"><img src="~/Content/images/white-medix-logo.gif" class="mainLogo img-responsive" alt="Medix College Logo" /></a>
                <br />
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="pull-right hidden-xs"> <h1 class="contentPageH1-white"><span class="glyphicon glyphicon-earphone"></span>&nbsp;1(866) 962-7685</h1></div>

            </div>
        </div>
    </div>
    <!--Start Div-->
    <div class="container col-lg-12 col-md-12 col-sm-12">
        <div class="landing-body col-lg-12 col-md-12 col-sm-12">
            <h1 class="contentPageH1">REFER A FRIEND<span class="landingH1">WIN A REFERRAL BONUS</span></h1><hr class="hrpbluethin" />
            
</p>
        </div>



        <div class="clearfix">    </div>

        <div class="landing-body col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-4 col-md-4 col-sm-4 pull-right ">


                <div class="panel panel-default bluePANEL2">

                    <div class="panel-body">
                        <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                            <input type="hidden" name="ORGID" value="240" />
                            <input type="hidden" name="MailListID" value="240001" />
                            <h1 class="contentH1whitemain text-center">
                                <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                            </h1><hr class="hrpgold" />
                            <div class="input-group spacer-top">
                                <p class="pull-left contentp-light">YOUR NAME: </p>
                                <textarea class="form-control pull-right" name="Comment2"></textarea>
                            </div>
                            <div class="input-group spacer-top">
                                <p class="pull-left contentp-light">REFERRAL FIRST NAME: <span class="text-danger">*</span></p>
                                <input type="text" class="form-control pull-right" name="FirstName" required="">
                            </div>
                            <div class="input-group spacer-top">
                                <label class="pull-left contentp-light">REFERRAL LAST NAME: <span class="text-danger">*</span></label>
                                <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                            </div>
                            <div class="input-group spacer-top">
                                <p class="pull-left contentp-light">REFERRAL TELEPHONE: <span class="text-danger">*</span></p>
                                <input type="text" class="form-control pull-right" name="Telephone" required="">
                            </div>
                            <div class="input-group spacer-top">
                                <p class="pull-left contentp-light">REFERRAL EMAIL: <span class="text-danger">*</span></p>
                                <input type="email" class="form-control pull-right" name="Email" required="">
                            </div>
                            <div class="input-group spacer-top">
                                <p class="pull-left contentp-light hidden">LOCATION: <span class="text-danger">*</span></p>
                                <select class="form-control pull-right" name="CampusID" id="askQuestionCampusList">

                                    <option value="241">Scarborough</option>

                                </select>
                            </div>
                            <div class="input-group spacer-top">
                                <p class="pull-left contentp-light hidden">PROGRAM: <span class="text-danger">*</span></p>
                                <select class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">
                                    <option class="0 246 243 242 244 241 240" value="41071">Physiotherapy Assistant</option>
                                   
                                </select>
                            </div>
                            <div class="input-group spacer-top hidden">
                                <label class="pull-left">How did you hear about us?: <span class="text-danger">*</span></label>
                                <select class="form-control pull-right" name="MediaGroupID" id="applyNowMediaGroupList" required="">
                                    <option value="90080">REFERRAL</option>
                                </select>
                            </div>
                            <div class="input-group spacer-top hidden">
                                <label class="pull-left">Specify: <span class="text-danger">*</span></label>
                                <select class="form-control pull-right" name="MediaID" id="applyNowMediaList" required="">
                                    <option value="18962">Email Marketing PTA Scarborough</option>
                                </select>
                            </div>
                            
                            <div class="small-text spacer-top text-center contentp-light">
                                Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                            </div>
                            <div class="text-center">
                                <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                            </div>
                        </form>
                    </div>

                </div>


            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">


                <div class="col-lg-12">
                    <img class="img-responsive" width="100%" src="~/Content/images/programs-rbphy.jpg" alt="Rehabilitation Physiotherapist working with client" />

                    <h2 class="contentH2-landing">
                        ABOUT THE REWARD
                    </h2>

                    <p class="contentp">
                        
                        Refer your friend and win a $250 cash prize during our next draw on January 2018. 


                    </p>
<p class="contentp">



                        <h2 class="contentH2-landing">
                            ABOUT THE PROGRAM
                        </h2>

                        The Rehabilitation Physiotherapist Assistant Diploma program has been designed to provide students with a strong foundation to work under the supervision of a Physiotherapist. Inclusive of an 8-week clinical placement, the program provides a well-rounded combination of theory instruction and practical training from which the student can continually develop and apply their knowledge to skilled tasks and proper assessment procedures. Possible employment settings include hospitals, physiotherapy clinics, rehabilitation centres, long-term care facilities, sports medicine clinics, community health care agencies or other medical settings.
                        <br/><br/>
                        Candidates considering a career as a Rehabilitation Physiotherapy Assistant should enjoy working with people and be physically able to assist in patient lifts and support.
                        </p>
                       
                    <br />
                    <h2 class="contentH2-landing">
                        Program Duration and Schedule
                    </h2>

                    <p class="contentp">
                        20 hours/week; 55 Week Program
                        <br /><br />
                        Total: 1250 Hours
                    </p>
                    <br/>

                    <div class="well well-sm">
                        <h2 class="contentH2-landing">
                            CAREER OPPORTUNITIES
                        </h2>

                        <table class="table">

                            <tbody>
                                <tr>
                                    <td>Rehab Physiotherapy Assistant</td>
                                    <td>Chiropractic Assistant</td>
                                </tr>

                                <tr>
                                    <td>Physiotherapy Support Personnel</td>
                                    <td>Rehabilitation Assistant</td>
                                </tr>

                                <tr>
                                    <td>PTA (Physical Therapist Assistant)</td>
                                    <td>Rehab Assistant </td>
                                </tr>

   
                            </tbody>

                        </table>
                    </div>


                </div>




             




               

                <div class="clearfix"></div>

                <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
                    <br />
                    <h1 class="contentPageH1">
                        GRADUATES FROM MEDIX COLLEGE HAVE BEEN HIRED AT:
                    </h1>
                    <hr class="hrpbluethin" />

                    <img src="/Content/images/hiredCO.jpg" class="img-responsive" alt="companies that have hired Medix graduates" />
                </div>

            </div>

            
            <!--End-->
        </div>



        <!--PAGEend-->
    </div>
    <div class="footer-banner col-lg-12">

        <div class="container">
            <img class="center-block" src="~/Content/images/CCGLogo.png" alt="The Career College Group logo." />
        </div>
    </div>
</div>