@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

@{
    ViewBag.Title = "English as a Second Language Certificate - Medix College";
    ViewBag.PageDescription = "Learn more about the English as a Second Language Certificate at Medix College.";
}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">ENGLISH AS A SECOND LANGUAGE<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
        <li class="active contentp">English as a Second Language (ESL)</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/cert-esl.jpg" alt="person smiling holding books" />

</div>

<div class="col-sm-8 mid-padding">
 
            <h1 class="contentH1">Workshop Objective</h1><hr class="hrp" />


            <p class="contentp">
                The objective of the English as a Second Language (ESL) Workshop is to gain proficiency in both written

                and spoken English as it relates to the standards of healthcare.
            </p>

            <br />
            <h1 class="contentH1">Course Prerequisite</h1><hr class="hrp" />
            <ul class="contentp">
                <li>Gr. 12 OSSD or Mature Student Status</li>
            </ul>
       
            <br />

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="contentH1">Course Duration, Schedule & Cost</h1><hr class="hrp" />
                    <ul class="contentp">
                        <li>3 consecutive Saturdays, 5 hours per day (15 hours in total)</li>
                        <li>$199.00</li>
                    </ul>
                </div>
            </div>

         

            <h1 class="contentH1">Course Content</h1><hr class="hrp" />

            <h2 class="contentH2">Oral communication skills for health care workers</h2>

            <p class="contentp">
                <ul>

                    <li>Gather interpret and relay information</li>
                    <li>Use active listening skills</li>
                    <li>Seek clarification and check information</li>
                    <li>Make suggestions and recommendations</li>
                    <li>Give advice, give explanations and justify opinions</li>
                    <li>Show an appreciation of the appropriate use of formal and informal language (including idiomatic expressions)</li>
                    <li>Give short presentations</li>
                    <li> Use appropriate telephone skills and etiquette</li>
</ul>
            </p>


            <h2 class="contentH2">Writing skills for health care workers</h2>
    <p class="contentp">
        <ul>

            <li>
                Know how to write with accuracy, clarity and conciseness
            </li>
            <li>
                Take biographical details and write case histories
            </li>
            <li>
                Describe symptoms and complete forms
            </li>
            <li>
                Compile medical reports: summarize, paraphrase and synthesize
            </li>
            <li>Use paragraphing, punctuation and layout effectively</li>
            <li>
                Use appropriate style and tone
            </li>
        </ul>
    </p>

            <h2 class="contentH2">Reading, Listening and Discussion Skills</h2>
    <p class="contentp">
        <ul>

            <li>
                Health care workers use articles relating to current medical issues taken from journals, newspapers, radio and television programs.
            </li>
            <li>
                Read for gist and for detail
            </li>
            <li>
                Express and defend opinions
            </li>
            <li>
                Suggest ideas and offer alternative interpretations
            </li>
            <li>Obtain information from graphs and tables</li>
        </ul>
    </p>
            <br />

            <p class="contentp">
                (Medix College reserves the right to update course content without notice; hours if listed are

                approximations only)
            </p>
            <br />
            <p class="contentp">
                This program does not require approval under the Private Career Colleges Act, 2005.

            </p>

           


    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CERTIFICATES DIRECTORY", "AllCertificates", "Certificates")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>

</div>





<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpblue" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                        <option value="0">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">
                        <option class="0 246 243 242 244 241 240" value="0">Select</option>
                        <option class="0" value="38882">Anatomy &amp; Physiology</option>
                        <option class="0 243 241" value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="632">Community Service Worker</option>
                        <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>
                        <option class="0 246 243 242 244 241 240" value="818">Dental Level 2</option>
                        <option class="0 246 243 242 244 241 240" value="38883">Dental Office Procedures (abel dent)</option>
                        <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                        <option class="0 246 243 241 240" value="38526">Early Childcare Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="642">ECG</option>
                        <option class="0 246 244 241 240" value="37255">Fitness &amp; Health Promotion</option>
                        <option class="0 246 244 241 240" value="39162">Intramuscular Injection</option>
                        <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                        <option class="0 246 242 244 241 240" value="629">Massage Therapy</option>
                        <option class="0 246 242 244 241 240" value="633">Medical Laboratory Assistant / Technician</option>
                        <option class="0 246 243 242 244 241 240" value="630">Medical Office Administrator</option>
                        <option class="0" value="1170">Medical Terminology</option>
                        <option class="0" value="38887">Medical Transcription</option>
                        <option class="0 246 243 242 244 241 240" value="39415">Mental Health &amp; Addictions</option>
                        <option class="0" value="1169">OHIP Billing</option>
                        <option class="0 246 243 242 244 241 240" value="631">Personal Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="636">Phlebotomy</option>
                        <option class="0" value="1167">Principles of Nutrition</option>
                        <option class="0 246 243 242 244 241 240" value="643">PSW Upgrading</option>
                        <option class="0" value="1171">Thought Patterns</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Question: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

</div>