@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

@{
    ViewBag.Title = "First Aid and CPR Certificate - Medix College";
    ViewBag.PageDescription = "Learn more about the First Aid and CPR Certificate at Medix College.";
}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">FIRST AID AND CPR<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
        <li class="active contentp">First Aid and CPR</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/firstaid.jpg" alt="people surround a cpr dummy" />

</div>

<div class="col-sm-8 mid-padding">



            <h1 class="contentH1">Duration</h1><hr class="hrp" />

            <p class="contentp">
                14–16 hours over two Saturdays.  
            </p>


        <br />
                
            <h1 class="contentH1">Instructor</h1><hr class="hrp" />

            <p class="contentp">
                Certified Red Cross First Aid Instructor
            </p>
            <br />
            <h1 class="contentH1">Completion</h1><hr class="hrp" />

            <p class="contentp">
                100% attendance, skills demonstration, and 75% min. passing grade at written exam
            </p>



           <br />

            <h1 class="contentH1">Certification</h1><hr class="hrp" />

            <p class="contentp">
                3-year certification in Standard First Aid, CPR Level C* or HCP , and AED**

            </p>
            <br />

            <h1 class="contentH1">Course Content</h1><hr class="hrp" />

            <p class="contentp">
                <ul>
                    <li>Preparing to respond</li>

                    <li>The EMS system</li>

                    <li>Check, Call, Care</li>

                    <li>Airway emergencies</li>

                    <li>Breathing and circulation emergencies</li>

                    <li>First Aid for respiratory and cardiac arrest</li>

                    <li>Head and spine injuries</li>

                    <li>Bone, muscle and joint injuries</li>

                    <li>Wound care</li>

                    <li>Sudden medical emergencies</li>

                    <li>Environmental emergencies</li>
                </ul>

            </p>
            <br />

            <h1 class="contentH1">Take-home materials</h1><hr class="hrp" />

            <p class="contentp">
                <ul>
                    <li>Red Cross First Aid & CPR Manual</li>

                    <li>Certification card</li>
                </ul>
            </p>
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="contentH1">Course Fee</h1><hr class="hrp" />

                    <p class="contentp">
                        $ 150.00
                    </p>
                </div>
            </div>

    
            <p class="contentp">
                This program does not require approval under the Private Career Colleges Act, 2005.

            </p>

    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CERTIFICATES DIRECTORY", "AllCertificates", "Certificates")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>

    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1whitemain text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpgold" />
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">FIRST NAME: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp-light">LAST NAME: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">TELEPHONE: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">EMAIL: <span class="text-danger">*</span></p>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">LOCATION: <span class="text-danger">*</span></p>
                    <select class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                        <option value="0">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">PROGRAM: <span class="text-danger">*</span></p>
                    <select class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">
                        <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>

                        <option class="0 246 243 242 244 241 240" value="0">Other Programs</option>
                        <option class="0 243 241" value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="632">Community Service Worker</option>
                        <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                        <option class="0 246 243 241 240" value="38526">Early Childcare Assistant</option>
                        <option class="0 246 244 241 240" value="37255">Fitness &amp; Health Promotion</option>
                        <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                        <option class="0 246 242 244 241 240" value="629">Massage Therapy</option>
                        <option class="0 246 242 244 241 240" value="633">Medical Laboratory Assistant / Technician</option>
                        <option class="0 246 243 242 244 241 240" value="630">Medical Office Administrator</option>
                        <option class="0 246 243 242 244 241 240" value="631">Personal Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="41071">Physiotherapy Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="0">--- Certificate Programs</option>
                        <option class="0" value="38882">Anatomy &amp; Physiology</option>
                        <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>
                        <option class="0 246 243 242 244 241 240" value="818">Dental Level 2</option>
                        <option class="0 246 243 242 244 241 240" value="38883">Dental Office Procedures (abel dent)</option>
                        <option class="0 246 243 242 244 241 240" value="642">ECG</option>
                        <option class="0 246 244 241 240" value="39162">Intramuscular Injection</option>
                        <option class="0" value="1170">Medical Terminology</option>
                        <option class="0" value="38887">Medical Transcription</option>
                        <option class="0 246 243 242 244 241 240" value="39415">Mental Health &amp; Addictions</option>
                        <option class="0" value="1169">OHIP Billing</option>
                        <option class="0 246 243 242 244 241 240" value="636">Phlebotomy</option>
                        <option class="0" value="1167">Principles of Nutrition</option>
                        <option class="0 246 243 242 244 241 240" value="643">PSW Upgrading</option>
                        <option class="0" value="1171">Thought Patterns</option>
                        <option class="0" value="41065">Birth Doula Workshop</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">QUESTION: </p>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center contentp-light">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

</div>