@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

@{
    ViewBag.Title = "Mental Health and Addictions Certificate - Medix College";
    ViewBag.PageDescription = "Learn more about the Mental Health and Addictions Certificate at Medix College.";
}

<div class="col-sm-12 no-padding botMARG">

    <h1 class="contentPageH1">MENTAL HEALTH AND ADDICTIONS<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
        <li class="active contentp">Mental Health and Addictions</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/cert-mentalhealth.jpg" alt="female counsellor working with a female patient" />

</div>

<div class="col-sm-8 mid-padding">

    <h1 class="contentH1">Workshop Objective</h1><hr class="hrp" />

    <p class="contentp">
        This program is ideal for those who are already studying or working in the health care or the social work

        field. You can earn a certificate in Mental Health and Additions to take your career to a newer level.

        Focused on the specific needs of clients coping simultaneously with mental health and addictions, you’ll

        be versed for a variety of workplace settings and challenges. 
        <br /><br />
        This certificate will equip you with the

        knowledge and skills required to help support one of Canada’s leading health issues, which are affecting

        both the physical and mental well being of an individual. The combination of substance abuse and

        addictions are becoming more problematic and the Ministry of Long Term Care is funding programs to

        assist with the support required. 

        <br /><br />

        In this course, you will have the opportunity to expand your skills required to practice in mental health

        and addictions. You will develop an understanding of the particular needs of diverse populations and the

        ability to support clients as they begin their journey to recovery.

        <br /><br />

        You will learn how and when to offer

        the support required with a better understanding of assessing risk, suicidality, the Mental Health Act,

        forms, psychosocial stressors and other necessary tools to work in this field. 
    </p>

    <ul class="contentp">
        <li>Introduction to Psychotherapy</li>

        <li>Assessments</li>

        <li>Mental Health Issues - Signs and Symptoms</li>

        <li>Introduction to Substance abuse and Addictions</li>

        <li>Counselling techniques and treatments</li>

        <li>Trauma and healing techniques</li>

        <li>Community intervention and psychosocial support</li>
    </ul>
    <br />


    <h1 class="contentH1">Course Prerequisite</h1><hr class="hrp" />
    <ul class="contentp">
        <li>Grade 12 credits, or equivalent, or three years of experience in business, community service, or industry are required.</li>
    </ul>
    <br />


    <h1 class="contentH1">Course Duration and Schedule</h1><hr class="hrp" />

    <p class="contentp">
        Wednesdays from 5:00pm to 8:00 p.m. for 10 weeks
    </p>
    <br />


    <h1 class="contentH1">Tuition</h1><hr class="hrp" />
    <ul class="contentp">
        <li>
            $295.00 CAD + $75.00 CAD books per course. (or $245.00 CAD plus books if you are a current Medix College student)
            <ul>
                <li>30-hours in training</li>

                <li>
                    Course training materials
                </li>

                <li>Certificate of completion</li>
            </ul>
        </li>
    </ul>
    <br />
    <p class="contentp">
        This program does not require approval under the Private Career Colleges Act, 2005.

    </p>

    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CERTIFICATES DIRECTORY", "AllCertificates", "Certificates")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>

    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpblue" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                        <option value="0">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">
                        <option class="0 246 243 242 244 241 240" value="0">Select</option>
                        <option class="0" value="38882">Anatomy &amp; Physiology</option>
                        <option class="0 243 241" value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="632">Community Service Worker</option>
                        <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>
                        <option class="0 246 243 242 244 241 240" value="818">Dental Level 2</option>
                        <option class="0 246 243 242 244 241 240" value="38883">Dental Office Procedures (abel dent)</option>
                        <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                        <option class="0 246 243 241 240" value="38526">Early Childcare Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="642">ECG</option>
                        <option class="0 246 244 241 240" value="37255">Fitness &amp; Health Promotion</option>
                        <option class="0 246 244 241 240" value="39162">Intramuscular Injection</option>
                        <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                        <option class="0 246 242 244 241 240" value="629">Massage Therapy</option>
                        <option class="0 246 242 244 241 240" value="633">Medical Laboratory Assistant / Technician</option>
                        <option class="0 246 243 242 244 241 240" value="630">Medical Office Administrator</option>
                        <option class="0" value="1170">Medical Terminology</option>
                        <option class="0" value="38887">Medical Transcription</option>
                        <option class="0 246 243 242 244 241 240" value="39415">Mental Health &amp; Addictions</option>
                        <option class="0" value="1169">OHIP Billing</option>
                        <option class="0 246 243 242 244 241 240" value="631">Personal Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="636">Phlebotomy</option>
                        <option class="0" value="1167">Principles of Nutrition</option>
                        <option class="0 246 243 242 244 241 240" value="643">PSW Upgrading</option>
                        <option class="0" value="1171">Thought Patterns</option>
                        <option class="0" value="41065">Birth Doula Workshop</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Question: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

</div>