@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

@{
    ViewBag.Title = "Birth Doula Workshop - Medix College";
    ViewBag.PageDescription = "Learn more about the Birth Doula Workshop  at Medix College.";
}


<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">POSTPARTUM BIRTH DOULA<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
        <li class="active contentp">Postpartum Doula Workshop</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/cert-doula.jpg" alt="pregnant women touching stomach" />

</div>

<div class="col-sm-8 mid-padding">





            <h1 class="contentH1">Workshop Objective</h1><hr class="hrp" />


            <p class="contentp">
                The objective of the Postpartum Doula Training workshop is to learn the basics of Postpartum Doula work. This workshop is one step towards Postpartum Doula Certification through Childbirth And Postpartum Professionals Association (CAPPA). You can begin working as a doula immediately after the workshop. 
            <br/><br/>
                Topics include:
            </p>

            <ul class="contentp">
                <li>Practical application of Scope of Practice, ethics, and integrity</li>

                <li>Listening and Communicahydroxycuttion Skills</li>

                <li>The Postpartum Doula as Educator</li>

                <li>Emotional and Physical Support of the Postpartum parent</li>

                <li>Postpartum Mood Disorders</li>

                <li>Baby care techniques</li>

                <li>Calming and soothing techniques</li>

                <li>SIDS and Safe Sleep</li>

                <li>The New Baby and the Family</li>

                <li>Skills for Special Circumstances</li>

                <li>Calming and soothing techniques</li>

                <li>Grief/Loss Support</li>

                <li>Business development, marketing, and networking to create a successful career</li>

                <li>And much more!</li>

            </ul>
            <br />


            <h1 class="contentH1">Course Prerequisite</h1><hr class="hrp" />

            <ul class="contentp">
                <li>Completion of a small Pre-Training Assignment you receive after registering</li>

            </ul>
            <br />

            <h1 class="contentH1">Course Duration and Schedule</h1><hr class="hrp" />


            <ul class="contentp">
                <li>Friday & Saturday 8 hours, Sunday 5 hours.  (1 hour lunch break each day)</li>
                <br/>
                <li>Next Scheduled Session: Friday April 7 - Sunday April 9</li>
            </ul>
            <br />

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="contentH1">Tuition</h1><hr class="hrp" />
                    <ul class="contentp">
                        <li>
                            $550.00 (or $450.00 if you are a current Medix student)                          <ul>
                                <li>18-hour training </li>

                                <li>
                                    Course training materials
                                </li>

                                <li>Certificate of completion</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">Steps to Certification</h1><hr class="hrp" />
            <p class="contentp">
                While it’s not required to become certified to work as a doula, many trained doulas choose to become certified to show expectant parents and professionals that they have met a high international standard.   CAPPA (Childbirth and Postpartum Professionals Association) is an international certification organization for Doulas, Childbirth Educators, and Lactation Educators that has been training and certifying perinatal professionals since 1998.  If you choose to certify, here are the steps to complete your CAPPA certification:

            </p>

                <ul class="contentp">
                    <li>
                        1.	CAPPA certification candidates must be at least 18 years of age. No person under 18 years of age may attend CAPPA training classes.
                    </li>

                    <li>
                        2.	Be a <a href="https://cappa.site-ym.com/general/pick_username.asp" target="_blank">member</a> of CAPPA.
                    </li>

                    <li>
                        3.	Enroll in the 

                        <a href="http://shop.cappa.net/CAPPA-Academy-US-Members-Only/CAPPA-Academy-CPD-p494.html" target="_blank">Postpartum Doula Traditional Course in CAPPA Academy</a>.
                    </li>

                    <li>
                        4.	Attend a CAPPA Postpartum Doula training class, such as the Medix Training listed above. 
                    </li>


                    <li>
                        5.	Read the CAPPA Postpartum Doula training manual and the required books from the <a href="http://www.cappa.net/required-reading" target="_blank">CAPPA required reading list</a>.
                    </li>


                    <li>
                        6.	Complete Part I of the <a href="https://hyb.digitalchalk.com/dc/guest/login" target="_blank">HUG Your Baby Training</a>.
                    </li>


                    <li>
                        7.	Order, read, and watch the video clips from the <a href="http://shop.cappa.net/Mother-and-New-Baby-Care-book-p249.html" target="_blank">Mother and Baby Care booklet</a> available in the CAPPA shop. Details/forms are provided within CAPPA Academy.
                    </li>

                    <li>
                        8.	Proof of current infant and child CPR certification through the Red Cross or equivalent.
                    </li>

                    <li>
                        9.	Submit three evaluations from postpartum doula clients. Details/forms are provided within CAPPA Academy.                    </li>

                    <li>
                        10.	Two letters of recommendation from professionals. Details are provided within CAPPA Academy.                    </li>

                    <li>
                        11.	Order, read, and complete all online content, including videos, from the <a href="http://shop.cappa.net/Better-Breastfeeding-Book-p264.html" target="_blank">Understanding Breastfeeding Book</a>, available in the CAPPA shop. Details/forms are provided within CAPPA Academy.                    </li>

                    <li>
                        12.	Create a resource list with information on local support for parents. A guide for creating this list is included within CAPPA Academy.   
                                     </li>

                    <li>
                        13.	In order for candidates to be eligible for CAPPA certification they must sign and agree to the following forms: Code of Conduct and Social Media Policy, Grievance Policy, Mission Statement, CAPPA Approach / Philosophy Statement, Vision Statement, and Scope of Practice.
                    </li>

                    <li>
                        14.	Pass the multiple choice exam and essays in CAPPA Academy. An 85% passing grade is required.
                    </li>

                    <li>
                        15.	Please view all of <a href="http://www.cappa.net/policies" target="_blank">CAPPA’s Policies and Procedures</a>.
                    </li>


                </ul>
</div>
    </div>

    <p class="contentp">
        (Medix College reserves the right to update course content without notice; hours if listed are approximations only)
    </p>







    


            

    <br />

    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CERTIFICATES DIRECTORY", "AllCertificates", "Certificates")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>

    <br />
    </div>

    <div class="col-sm-4 pull-right no-padding">
        <div class="panel panel-default bluePANEL2">

            <div class="panel-body">
                <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <h1 class="contentH1whitemain text-center">
                        <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                    </h1><hr class="hrpgold" />
                    <div class="input-group spacer-top">
                        <p class="pull-left contentp-light">FIRST NAME: <span class="text-danger">*</span></p>
                        <input type="text" class="form-control pull-right" name="FirstName" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <p class="pull-left contentp-light">TELEPHONE: <span class="text-danger">*</span></p>
                        <input type="text" class="form-control pull-right" name="Telephone" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <p class="pull-left contentp-light">EMAIL: <span class="text-danger">*</span></p>
                        <input type="email" class="form-control pull-right" name="Email" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <p class="pull-left contentp-light">LOCATION: <span class="text-danger">*</span></p>
                        <select class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                            <option value="0">Select</option>

                            <option value="241">Scarborough</option>

                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <p class="pull-left contentp-light">PROGRAM: <span class="text-danger">*</span></p>
                        <select class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">
                            <option class="0" value="41070">Postpartum Doula Training</option>

                            <option class="0 246 243 242 244 241 240" value="0">--- Select Programs</option>
                            <option class="0 243 241" value="39877">Child and Youth Care with Addictions Support Worker</option>
                            <option class="0 246 243 242 244 241 240" value="632">Community Service Worker</option>
                            <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                            <option class="0 246 243 241 240" value="38526">Early Childcare Assistant</option>
                            <option class="0 246 244 241 240" value="37255">Fitness &amp; Health Promotion</option>
                            <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                            <option class="0 246 242 244 241 240" value="629">Massage Therapy</option>
                            <option class="0 246 242 244 241 240" value="633">Medical Laboratory Assistant / Technician</option>
                            <option class="0 246 243 242 244 241 240" value="630">Medical Office Administrator</option>
                            <option class="0 246 243 242 244 241 240" value="631">Personal Support Worker</option>
                            <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                            <option class="0 246 243 242 244 241 240" value="0">--- Certificate Programs</option>
                            <option class="0" value="38882">Anatomy &amp; Physiology</option>
                            <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>
                            <option class="0 246 243 242 244 241 240" value="818">Dental Level 2</option>
                            <option class="0 246 243 242 244 241 240" value="38883">Dental Office Procedures (abel dent)</option>
                            <option class="0 246 243 242 244 241 240" value="642">ECG</option>
                            <option class="0 246 244 241 240" value="39162">Intramuscular Injection</option>
                            <option class="0" value="1170">Medical Terminology</option>
                            <option class="0" value="38887">Medical Transcription</option>
                            <option class="0 246 243 242 244 241 240" value="39415">Mental Health &amp; Addictions</option>
                            <option class="0" value="1169">OHIP Billing</option>
                            <option class="0 246 243 242 244 241 240" value="636">Phlebotomy</option>
                            <option class="0" value="1167">Principles of Nutrition</option>
                            <option class="0 246 243 242 244 241 240" value="643">PSW Upgrading</option>
                            <option class="0" value="1171">Thought Patterns</option>
                            <option class="0" value="41065">Birth Doula Workshop</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <p class="pull-left contentp-light">QUESTION: </p>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center contentp-light">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>
            </div>

        </div>

</div>