@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request. If you receive this message, please email the head of our web department at toppyv@medixcollege.ca and we get you in contact with your nearest campus. Please include your Name, Phone Number, Email Address and any comments that you would like forwarded.</h2>
    </hgroup>
</body>
</html>
