@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

@{
    ViewBag.Title = "Canada Job Grant";
}


<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">CANADA JOB GRANT</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">Canada Job Grant </li>
    </ol>


</div>

<div class="col-sm-8 mid-padding">




    <h1 class="contentH1">Key details for Employers and Employees:</h1><hr class="hrp" />
    <p class="contentp">
        The Canada Job Grant covers two-thirds of the cost of training up to a maximum of $10,000 that is contributed by the government.
        <br /><br />
        The training is intended for employed individuals acquiring new skills for their current job, or to prepare for another job with the same employer, and for unemployed individuals seeking a new job.
        <br /><br />
        The employer must have a job available at the end of the training for the individual being trained.!
        <br /><br />
        Training must not exceed one year in duration and must be provided by one of the following:
        <ul>

            <li>Colleges of applied arts and technology</li>
            <li>Publicly-assisted universities</li>
            <li>School boards</li>
            <li>Private trainers operating in compliance with the Private Career Colleges Act, 2005</li>
            <li>Union-based training centres</li>
            <li>Product vendors</li>
        </ul>
    </p><br />
    <h1 class="contentH1">Confirm Your Eligibility & Streamline the Application Process </h1><hr class="hrp" />
    <p class="contentp">
        The Canada Job Grant is issued through a wide variety of service providers across Canada (excl. Quebec), each with their own pool of funds. It’s critical that your business profile, timelines, budget, and project impacts are all aligned with your local service provider’s priorities for funding. For comprehensive funding application support services, please reach out to our trusted partner, Mentor Works Ltd. by calling 1-888-599-3111 ext.115 or emailing jeffd@mentorworks.ca to speak to Jeff Dumart, Business Development Analyst at Mentor Works.
        <br /><br />
        Click below to go to<br /><br />
        <a href="http://www.esdc.gc.ca/en/job_grant/index.page " target="_blank"><img src="~/Content/images/canadajobgrant.jpg" class="img-responsive" /></a>
    </p>



    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>






<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            @Html.Partial("_AskAQuestionForm", new ViewDataDictionary { { "postAction", "/home/askquestionprogram" } })
        </div>

    </div>

</div>