@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

@{
    ViewBag.Title = "Employment Ontario - Financial Options - Medix College";
    ViewBag.PageDescription = "Learn more about the Employment Ontario as a financial option to attend Medix College";
}


<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">EMPLOYMENT ONTARIO</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
        <li class="contentp">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
        <li class="active contentp">Employment Ontario</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/admissions-eo.jpg" alt="man handing folder to group of people" />
</div>


<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <p class="contentp">
                The Ministry of Advanced Education and Skills Development (MASED) administers programs, such as Employment

                Ontario, to assist individuals who are unemployed or who have qualified for Employment Insurance. Students may

                qualify for postsecondary education financing through Employment Ontario or other programs managed by MASED.
            </p>
        </div>
    </div>

    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            @Html.Partial("_AskAQuestionForm", new ViewDataDictionary { { "postAction", "/home/askquestionprogram" } })
        </div>

    </div>

</div>