@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

@{
    ViewBag.Title = "Admissions";
}



<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">ADMISSIONS PROCESS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">Admissions Process</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/admissions-home.jpg" alt="two people communicating" />
</div>

<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">ADMISSIONS PROCESS OVERVIEW</h1>
            <hr class="hrp" />
            <p class="contentp">
                Medix College has a four-step admissions process which includes contacting the campus, a confidential interview, a business affairs assessment and the final enrollment. In addition, Medix College has three requirements that all future students must complete before enrolling into a diploma program.
            </p>
            <p class="contentp">Admissions Requirement</p>
            <ul class="contentp">
                <li>Gr.12 OSSD/High School Graduate or Mature Student Status (18 Ontario, 19 out of province)  </li>
                <li>Successful completion of entrance evaluation</li>
                <li>Admissions interview</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;CONTACT US</h1>
<hr class="hrp" />
            <p class="contentp">Contact an admissions representative to set up an appointment. It is essential to set some time aside to visit one of our admissions representatives who will answer all the questions you might have.</p>
            <p class="contentp">DO YOU HAVE QUESTIONS ABOUT:</p>
            <ul class="contentp">
                <li>The cost of the program</li>
                <li>When classes start</li>
                <li>If financial aid is available</li>
                <li>If you qualify for financial aid</li>
                <li>The job placement rates for each program</li>
                <li>Where recent gradutes have been hired</li>
                <li>How the career services department can help you find employment</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;CONFIDENTIAL INTERVIEW</h1><hr class="hrp" />
            <p class="contentp">Once an appointment has been made, we will need to determine your academic and career goals. We also need to determine if you have the right attitude to be successful as a student at Medix. A short assessment will help us determine your eligibility. <br /><br />We will then help you choose the best suitable program and class schedule to meet your career goals and personal needs.</p>

        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;BUSINESS AFFAIRS ASSESSMENT</h1>
            <hr class="hrp" />
            <p class="contentp">Once we determine your qualifications for the program you have chosen, and have answered all your questions, we then schedule a business affairs appointment which will determine your eligibility with one of our many different financial aid options. Financial Assistance maybe available for those who qualify</p>
            <h3 class="contentH3">Some available payment options include:</h3>
            <ul class="contentp">
                <li>Ontario Student Assistance Program (OSAP)</li>
                <li>Second Career</li>
                <li>Out of Province Students</li>
                <li>Student Lines of Credit</li>
                <li>Lifelong Learning Plan</li>
                <li>Registered Education Savings Plans</li>
                <li>Employment Ontario</li>
                <li>Monthly Payment Plan</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;ENROLLMENT</h1>
            <hr class="hrp" />
            <p class="contentp">After you are comfortable with the financial plan you have put in place to attain your career goals, we then will enroll you into that program. We forward to seeing you start training for your new career!  </p>

        </div>
    </div>

    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />


</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1whitemain text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpgold" />
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">FIRST NAME: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp-light">LAST NAME: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">TELEPHONE: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">EMAIL: <span class="text-danger">*</span></p>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">LOCATION: <span class="text-danger">*</span></p>
                    <select class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                        <option value="0">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">PROGRAM: <span class="text-danger">*</span></p>
                    <select class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">

                        <option class="0 246 243 242 244 241 240" value="0">Select</option>
                        <option class="0 243 241" value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="632">Community Service Worker</option>
                        <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                        <option class="0 246 243 241 240" value="38526">Early Childcare Assistant</option>
                        <option class="0 246 244 241 240" value="37255">Fitness &amp; Health Promotion</option>
                        <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                        <option class="0 246 242 244 241 240" value="629">Massage Therapy</option>
                        <option class="0 246 242 244 241 240" value="633">Medical Laboratory Assistant / Technician</option>
                        <option class="0 246 243 242 244 241 240" value="630">Medical Office Administrator</option>
                        <option class="0 246 243 242 244 241 240" value="631">Personal Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="0">--- Certificate Programs</option>
                        <option class="0" value="38882">Anatomy &amp; Physiology</option>
                        <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>
                        <option class="0 246 243 242 244 241 240" value="818">Dental Level 2</option>
                        <option class="0 246 243 242 244 241 240" value="38883">Dental Office Procedures (abel dent)</option>
                        <option class="0 246 243 242 244 241 240" value="642">ECG</option>
                        <option class="0 246 244 241 240" value="39162">Intramuscular Injection</option>
                        <option class="0" value="1170">Medical Terminology</option>
                        <option class="0" value="38887">Medical Transcription</option>
                        <option class="0 246 243 242 244 241 240" value="39415">Mental Health &amp; Addictions</option>
                        <option class="0" value="1169">OHIP Billing</option>
                        <option class="0 246 243 242 244 241 240" value="636">Phlebotomy</option>
                        <option class="0" value="1167">Principles of Nutrition</option>
                        <option class="0 246 243 242 244 241 240" value="643">PSW Upgrading</option>
                        <option class="0" value="1171">Thought Patterns</option>
                        <option class="0" value="41065">Birth Doula Workshop</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">QUESTION: </p>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center contentp-light">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

</div>