@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

@{
    ViewBag.Title = "Lifelong Learning Plan - Financial Options - Medix College";
    ViewBag.PageDescription = "Learn more about the Lifelong Learning Plan as a financial option to attend Medix College";
}


<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">LIFELONG LEARNING PLAN</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
        <li class="contentp">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
        <li class="active contentp">Lifelong Learning Plan</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/admissions-llp.jpg" alt="student working from home" />
</div>


<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <p class="contentp">
                The Canada Revenue Agency Lifelong Learning Plan (LLP) allows you to withdraw amounts from your RRSPs to

                finance your education for you or your spouse (or common law partner). You may withdraw up to $10,000 per year,

                and up to a total maximum of $20,000.
            </p>

            <p class="contentp">
                For more information visit the <a href="www.cra-arc.gc.ca/tx/ndvdls/tpcs/rrsp-reer/llp-reep/menu-eng.html"><span class="glyphicon glyphicon-link"></span>&nbsp;Canada Revenue Agency</a> website.
            </p>
        </div>
    </div>


    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            @Html.Partial("_AskAQuestionForm", new ViewDataDictionary { { "postAction", "/home/askquestionprogram" } })
        </div>

    </div>

</div>