@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

@{
    ViewBag.Title = "Monthly Payment Plan | Tuitions & Material | Medix College";
    ViewBag.PageDescription = "The monthly payment plan helps our students finance their Medix College education. Find out how the plan is arranged through our business affairs department!";
}




<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">Monthly Payment Plan for Career Education</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
        <li class="contentp">@Html.ActionLink("Monthly Payment Plan", "MonthlyPaymentPlan", "Admissions")</li>
        <li class="active contentp">Monthly Payment Plan</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/admissions-mpp.jpg" alt="person going through a spreadsheet document" />
</div>


<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <p class="contentp">
                A monthly payment plan can be arranged through our business affairs department. Tuition and material costs are divided into monthly payments throughout your program.  Payments are interest free during your study period.
            </p>
        </div>
    </div>

    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            @Html.Partial("_AskAQuestionForm", new ViewDataDictionary { { "postAction", "/home/askquestionprogram" } })
        </div>

    </div>

</div>